<div class="help_design">

  <button class="btn normal_button scroll_button"id="community_scroll">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <div class="text_cover">
      <div class="en">
        How to Join Community
      </div>
      <div class="jp">
        コミュニティに参加するには
      </div>
    </div>
  </button>

  <button class="btn normal_button scroll_button"id="post_scroll">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <div class="text_cover">
      <div class="en">
        How to Post
      </div>
      <div class="jp">
        投稿するには
      </div>
    </div>
  </button>


  <div class="threadtype_cover"id="first_scroll_position">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item blue-nav active width_max"style="padding: 5px;">
        <i class="fas fa-users"></i>
        <a class="nav-link pvpage_change2" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false"style="width: calc(100% - 50px);">
          <div class="text_cover">
            At First / はじめに
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="auto">
    <img class="d-block"src="/help_main/スライド3.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_main/スライド4.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_main/スライド5.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_main/スライド6.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_main/スライド7.png">
  </div>

  <div class="threadtype_cover"id="community_scroll_position">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item blue-nav active width_max"style="padding: 5px;">
        <i class="fas fa-users"></i>
        <a class="nav-link pvpage_change2" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false"style="width: calc(100% - 50px);">
          <div class="text_cover">
            How to Join Community / コミュニティに参加するには
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="auto">
    <img class="d-block"src="/help_join/スライド2.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_join/スライド3.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_join/スライド4.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_join/スライド5.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_join/スライド6.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_join/スライド7.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_join/スライド8.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_join/スライド9.png">
  </div>

  <div class="threadtype_cover"id="post_scroll_position">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item blue-nav active width_max"style="padding: 5px;">
        <i class="fas fa-users"></i>
        <a class="nav-link pvpage_change2" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false"style="width: calc(100% - 50px);">
          <div class="text_cover">
            How to Post / 投稿するには
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="auto">
    <img class="d-block"src="/help_post/スライド2.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_post/スライド3.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_post/スライド4.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_post/スライド5.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_post/スライド6.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_post/スライド7.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_post/スライド8.png">
    <div class="glyphicon glyphicon-arrow-down"></div>
    <img class="d-block"src="/help_post/スライド9.png">
  </div>
</div>