<div class="term_show">
<h4>【FreFre事務局のプライバシーポリシー】</h4>
<br>  FreFre事務局（以下「FreFre」あるいは「事務局」とします。）は、サービスを提供するhttp://glacial-chamber-99021.herokuapp.com/ ウェブサイトを運営しています。
<br>  このページは、FreFreウェブサイトである本サービスの使用を決定した場合、個人情報の収集、使用、開示に関するポリシーに関するウェブサイト訪問者（以下「ウェブサイト訪問者」あるいは「ユーザー」とします。）に通知するために使用されます。
<br>  FreFreのサービスの使用を選択した場合、このポリシーに関連する情報の収集と使用に同意するものとします。
<br>  事務局が収集する個人情報は、サービスの提供および改善に使用されます。
<br>  このプライバシーポリシーに記載されている場合を除き、お客様の情報を使用または共有することはありません。
<br>  このプライバシーポリシーで使用される用語は、このプライバシーポリシーで別途定義されていない限り、http：//glacial-chamber-99021.herokuapp.com/からアクセスできる利用規約と同じ意味を持ちます。
<br>
<h4>情報の収集と使用</h4>  本サービスの使用中の利便性を高めるために、氏名、電話番号、住所、メールアドレスなどの個人を特定できる情報を提供するよう求められる場合があります。
<br>  事務局が収集する情報は、お客様への連絡または特定に使用されます。
<br>
<h4>ログデータ</h4>  サービスにアクセスするたびに、ブラウザからログデータと呼ばれる情報が収集されます。
<br>  このログデータには、コンピューターのインターネットプロトコル（「IP」）アドレス、ブラウザーのバージョン、訪問するサービスのページ、訪問の日時、それらのページで費やした時間、およびその他の統計などの情報が含まれる場合があります。
<br>
<h4>クッキー</h4>  Cookieは、匿名の一意の識別子として一般的に使用される少量のデータを含むファイルです。
<br>  これらは、アクセスしたウェブサイトからブラウザに送信され、コンピューターのハードドライブに保存されます。
<br>  FreFreウェブサイトは、これらの「クッキー」を使用して情報を収集し、サービスを改善しています。
<br>  ユーザーはこれらのクッキーを受け入れるか拒否するかの選択権があり、また、いつクッキーがコンピューターに送信されているかを知ることができます。
<br>  クッキーを拒否することを選択した場合、サービスの一部を使用できない場合があります。
<br>
<h4>サービスプロバイダー</h4>  事務局は次の理由において、他の企業や個人を使用する場合があります。
<br>  ・事務局のサービスを促進するため。
<br>  ・事務局に代わってサービスを提供するため。
<br>  ・サービス関連のサービスを実行するには; または
<br>  ・サービスの使用方法の分析を支援するため。
<br>  事務局は、他の企業や個人がユーザーの個人情報にアクセスする場合、サービスのユーザーにお知らせします。
<br>  それらがユーザーの個人情報にアクセスするのは、私たちに代わって、割り当てられた業務を実行させるためです。
<br>  それらの企業及び個人は他の目的で情報を開示または使用しないことが義務付けられています。
<br>
<h4>セキュリティ</h4>  事務局は、ユーザーが我々を信頼して個人情報を提供したことを尊重します。
<br>  したがって、私たちは商業的に可能な手段を使ってそれを保護するよう努めています。
<br>  ただし、インターネットを介した伝送方法や電子ストレージの方法は100％安全で信頼性が高く、絶対的なセキュリティを保証することはできません。
<br>
<h4>他のサイトへのリンク</h4>  事務局のサービスには、他のサイトへのリンクが含まれている場合があります。
<br>  第三者のリンクをクリックすると、そのサイトに移動します。
<br>  これらの外部サイトは事務局によって運営されていないことに注意してください。
<br>  したがって、これらのウェブサイトのプライバシーポリシーを確認することを強くお勧めします。
<br>  事務局は、第三者のサイトまたはサービスのコンテンツ、プライバシーポリシー、または慣行を管理しておらず、責任を負いません。
<br>
<h4>子どものプライバシー</h4>  事務局のサービスは13歳未満の方には対応していません。
<br>  13歳未満の子供から故意に個人を特定できる情報を収集することはありません。
<br>  13歳未満の子供が個人情報を提供したことが判明した場合、事務局は直ちにこれをサーバーから削除します。
<br>  あなたがご両親または保護者であり、あなたのお子様がFreFreに個人情報を提供したことをご存知の場合、事務局に連絡してください。
<br>  事務局が必要な対応をいたします。
<br>
<h4>プライバシーポリシーの変更</h4>  プライバシーポリシーは随時更新される場合があります。
<br>  したがって、このページを定期的に確認して変更を確認することをお勧めします。
<br>  このページに新しいプライバシーポリシーを掲載することにより、変更をお知らせします。
<br>  これらの変更は、このページに投稿された直後に有効になります。
<br>
<h4>お問い合わせ</h4>  プライバシーポリシーについてご質問やご提案がありましたら、お気軽に
<%= link_to "/contact" do %>
  お問い合わせ
<% end %>
ください。
<br>
</div>
