<div class="term_show">
<br>  <h3>【FreFre利用規約】</h3>
<br>  <h4>規約と条件</h4>
<br>  これらの利用規約（以下「本規約」とします。）は、FreFre事務局（以下「事務局」とします。）とユーザー（以下、「ユーザー」または「あなた」とします。）との間の合意を規定するものです。
<br>  本規約は、＠＠＠URL Webサイトおよびその製品またはサービス（以下、総称して「本Webサイト」または「本サービス」とします。）の使用に関する一般条件を規定しています。
<br>  <h4>本サービスを利用できる人</h4>
<br>  本サービスを利用できるのは、FreFreと拘束力のある契約を締結することに同意し、適用のある法域の法律によりサービスを受けることが禁止されていない者に限ります。
<br>  また、いかなる場合においても、本サービスを利用するためには少なくとも13歳以上でなければならないものとします。
<br>  <h4>アカウントとメンバーシップ</h4>
<br>  ユーザーがFreFreウェブサイトでアカウントを作成する場合、ご自身でアカウントのセキュリティを維持する責任があり、アカウントの下で発生するすべてのアクティビティおよびそれに関連して実行されるその他のアクションについて、ユーザーにすべての責任があります。
<br>  事務局は、ユーザーがサインインしてサービスを使用する際に、新しいアカウントを監視および調査する場合があります。
<br>  事務局は、ユーザーが誤った連絡先情報を提供した場合、アカウントを終了させることがあります。
<br>  アカウントの不正使用またはその他のセキュリティ侵害については、ユーザーが直ちに事務局に通知する必要があります。
<br>  そのような行為または不作為の結果として生じたあらゆる種類の損害について、事務局は責任を負いません。
<br>  ユーザーが本規約のいずれかの条項に違反したと判断した場合、またはユーザーの行動またはコンテンツが事務局あるいはFreFreの評判および信用を損なうおそれがあると判断した場合、ユーザーのアカウント（またはその一部）を一時停止、利用停止あるいは削除することがあります。 
<br>  上記の理由でアカウントを削除した場合、サービスに再登録することができない場合があります。
<br>  再登録を防ぐために、ユーザーのメールアドレスとインターネットプロトコルアドレスをブロックする場合があります。
<br>  <h4>ユーザーコンテンツ</h4>
<br>  ユーザーは、適用される法令や規則への遵守を含め、本サービスの利用および自身が提供するコンテンツに対して責任を負います。
<br>  提供されるコンテンツは、他の人たちと共有して差し支えのないものに限定してください。
<br>  本サービスを介して投稿されたまたは本サービスを通じて取得したコンテンツやマテリアルの使用またはこれらへの依拠は、ユーザーの自己責任において行ってください。
<br>  事務局は、本サービスを介して投稿されたいかなるコンテンツや通信内容についても、その完全性、真実性、正確性、もしくは信頼性を是認、支持、表明もしくは保証せず、また本サービスを介して表示されるいかなる意見についても、それらを是認するものではありません。
<br>  ユーザーは、本サービスの利用により、不快、有害、不正確あるいは不適切なコンテンツ、または場合によっては、不当表示されている投稿またはその他欺瞞的な投稿に接する可能性があることを、理解しているものとします。
<br>  すべてのコンテンツは、そのコンテンツの作成者が単独で責任を負うものとします。
<br>  事務局は、本サービスを介して投稿されるコンテンツを監視または管理することはできず、また、そのようなコンテンツについて責任を負うこともできません。
<br>  事務局は、規約に違反しているコンテンツ（著作権もしくは商標の侵害、なりすまし、不法行為または嫌がらせ等）を削除する権利を留保します。
<br>  <h4>他のウェブサイトへのリンク</h4>
<br>  このWebサイトは他のWebサイトにリンクしている可能性がありますが、ここに明記されていない限り、リンクされたWebサイトへの承認、関連付け、スポンサーシップ、承認、または提携を直接的または間接的に示唆するものではありません。
<br>  FreFreウェブサイト上のリンクの一部は「アフィリエイトリンク」である場合があります。
<br>  つまり、リンクをクリックしてアイテムを購入すると、事務局はアフィリエイトコミッションを受け取ります。
<br>  事務局は、ビジネスや個人の提供やウェブサイトのコンテンツを調査または評価する責任を負いません。
<br>  事務局は、他の第三者の行為、製品、サービス、およびコンテンツについて一切の責任を負いません。
<br>  このWebサイトからリンクを介してアクセスするWebサイトの法的声明およびその他の使用条件を、ユーザーが注意して確認するようにしてください。
<br>  リンクへの訪問は他のどのようなウェブサイトであっても、あなた自身の危険において行うものとします。
<br>  <h4>使用禁止事項</h4>
<br>  ユーザーは、本規約によって禁止される目的のために本サービスを利用しないことを約束します。
<br>  ユーザーは、本サービスに関連するすべての行為について責任を負うものとします。
<br>  ユーザーは、自らまたは第三者をして、下記のような行動を取り、あるいは 本サービス上でまたはこれを通じて、下記のようなコンテンツ（ユーザーコンテンツを含みますがこれに限りません）をアップロード、ダウンロード、投稿、提出または他の方法により配信もしくは配信を促進することはできません。
<br>  （a）違法な目的のための使用
<br>  （b）違法行為を実行または参加するように他者を勧誘すること
<br>  （c）国際、国内、連邦、州または州の規制、規則、法律、または地方条例に違反すること
<br>  （d）事務局の知的財産権または他者の知的財産権を侵害または侵害すること
<br>  （e）性別、性的指向、宗教、民族、人種、年齢、出身国、または障害に基づいて、嫌がらせ、虐待、侮辱、危害、名誉棄損、中傷、軽蔑、脅迫、または差別を行うこと
<br>  （f）虚偽または誤解を招く情報を送信すること
<br>  （g）本サービスまたは関連するWebサイト、他のWebサイト、またはインターネットの、機能または操作に影響を与えるおそれのあるウイルスまたはその他の悪意のあるコードをアップロードまたは送信すること
<br>  （h）他人の個人情報を収集または追跡すること
<br>  （i）スパム、フィッシング、ファーミング、口実、クモ、クロール、またはスクレイピング
<br>  （j）わいせつまたは不道徳な目的のための使用
<br>  （k）本サービスまたは関連するWebサイト、他のWebサイト、またはインターネットのセキュリティ機能を妨害または回避すること
<br>
<br>  事務局は、いかなる使用禁止違反についても、本サービスまたは関連ウェブサイトの使用を終了させる権限を有します。
<br>  <h4>知的財産権</h4>
<br>  事務局は、事務局または第三者が所有する知的財産をユーザーに譲渡することはなく、そのような財産に対するすべての権利、権原、および利益は事務局または第三者のみに留まります。
<br>  FreFreウェブサイトまたはサービスに関連して使用されるすべての商標、サービスマーク、グラフィックスおよびロゴは、事務局または事務局ライセンサーの商標または登録商標です。
<br>  FreFreウェブサイトまたはサービスに関連して使用されるその他の商標、サービスマーク、グラフィックス、ロゴは、他のサードパーティの商標である場合があります。
<br>  事務局のWebサイトおよびサービスの使用により、事務局または第三者の商標ｚを複製または使用する権利またはライセンスは付与されません。
<br>  <h4>非保証</h4>
<br>  FreFreウェブサイトは誤りがあっても「現状のまま」で提供され、事務局は、FreFreウェブサイトまたはFreFreウェブサイトに含まれる資料に関連するいかなる種類の明示または黙示の表明または保証も行いません。
<br>  さらに、FreFreウェブサイトに含まれるものは、あなたに相談や助言を提供するものと解釈されるものではありません。
<br>
<br>  <h4>責任の制限</h4>
<br>  FreFreウェブサイトまたはそのコンテンツに関するいかなる種類の保証もいたしません。
<br>  特に、FreFreウェブサイトまたはそのコンテンツにウイルスがないことについては保証しません。
<br>  ウイルスやその他の汚染、または破壊的な性質を持つものによる感染については一切責任を負いませんので、この点についてはご自身の予防措置を講じる必要があります。
<br>  事務局はFreFreウェブサイトへの継続的かつ中断のないアクセスを提供するために最善を尽くしますが、これを保証するものではありません。
<br>  中断や遅延については、一切責任を負いません。
<br>
<br>  <h4>補償</h4>
<br>  クライアントによる本規約、法律、規制のいずれかの条項違反の結果、および知的財産権の侵害に関連する第三者の法的措置または脅迫措置の結果FreFre事務局が被ったすべての請求、要求、損失、損害、費用、支出に対して、ユーザーはFreFre事務局を補償することに同意します。
<br>  <h4>可分性</h4>
<br>  本規約に含まれるすべての権利と制限は、本規約が違法、無効あるいは執行不能にならないように必要な範囲に限定される範囲でのみ行使および適用されるものとします。
<br>  本規約の条項の一部または一部が管轄権のある裁判所により違法、無効または執行不能と判断される場合、残りの条項またはその一部は、本規約に関する合意を構成することが当事者の意図です。
<br>  本規約の主題、およびそのような残りのすべての条項またはその一部は、引き続き完全な効力を有するものとします。
<br>  <h4>論争の解決</h4>
<br>  本規約およびそれから生じる紛争の成立、解釈、および履行は、紛争または法の選択に関する規則、および適用可能な範囲で法律に関係なく、日本の東京の実体法および手続き法に準拠するものとします。
<br>  本件の主題に関連する訴訟の専属管轄権および裁判地は、日本の東京にある裁判所であるものとし、ユーザーはこのような裁判所の対人管轄権に従うものとします。
<br>  ユーザーは、本規約から生じるまたは本規約に関連する手続きにおいて、in審裁判の権利を放棄します。
<br>  国際物品売買規約に関する国連条約は、本規約には適用されません。
<br>  <h4>変更および修正</h4>
<br>  事務局は、本規約の更新版をFreFre ウェブサイトに掲載した時点で、本規約またはFreFre Webサイトまたはサービスに関するポリシーをいつでも変更する権利を留保します。
<br>  その際、FreFreウェブサイトのメインページに通知を掲載します。
<br>  このような変更が行われた後もFreFreウェブサイトを継続して使用することにより、そのような変更に対するユーザーの同意が得られたものとします。
<br>  <h4>これらの条件の受け入れ</h4>
<br>  ユーザーは、本規約を読み、その規約条件すべてに同意したことを認めます。
<br>  FreFreウェブサイトまたはそのサービスを使用することにより、ユーザーは本規約に拘束されることに同意するものとします。
<br>  本規約の条件を順守することに同意しない場合、FreFreウェブサイトおよびそのサービスを使用またはアクセスする権限はありません。
<br>  <h4>お問い合わせ</h4>
<br>  本規約についてご質問がある場合は、
<%= link_to "/contact" do %>
  お問い合わせ
<% end %>ください。
<br>  このドキュメントの最終更新日は2019年８月23日です
<br>
</div>
