
  <div class="make_thread_cover">
    <div class="panel panel-warning make_thread_category">
      <div class="panel-body content_cover">
        <div class="content_input_name"style="margin-top:20px">
          <div class="sub_jp">
            お問い合わせ
          </div>
          <div class="main_en">
            Contact Us
          </div>
        </div>
        <div class="content_input">
          <textarea id="content"class="content_input_form form-control jp_data_content" rows="5" cols="65"></textarea>
        </div>
      </div>
      <div class="post_button_place">
        <button type="button" class="normal_button btn"id="post">
          <div class="button_text">
            <div class="float_jp">
               投稿
            </div>
            Send
          </div>
        </button>
      </div>
    </div>

  </div>
