<%= link_to("category/"+category.id.to_s,class:"category_link_button") do %>
  <div class="text_box">
    <div class="jp">
      <%= category.type_en %> / <%= category.type_jp %>
    </div>
  </div>
<% end %>