<div class="term_show">
日本語の利用規約は下の方にあります。
<br>
<br>Terms and conditions
<br>These terms and conditions ("Terms", "Agreement") are an agreement between FreFre office ("Office", "us", "we" or "our") and you ("User", "you" or "your"). This Agreement sets forth the general terms and conditions of your use of the @FreFre URL@ website (FreFre) and any of its products or services (collectively, "Website" or "Services").
<br> Who May Use the Services
<br>You may use the Services only if you agree to form a binding contract with FreFre and are not a person barred from receiving services under the laws of the applicable jurisdiction. In any case, you must be at least 13 years old to use the Services.
<br>Accounts and membership
<br>If you create an account on FreFre Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. We may monitor and review new accounts before you may sign in and use our Services. Providing false contact information of any kind may result in the termination of your account. You must immediately notify us of any unauthorized uses of your account or any other breaches of security. We will not be liable for any damages of any kind incurred as a result of such acts or omissions. We may suspend, disable, or delete your account (or any part thereof) if we determine that you have violated any provision of this Agreement or that your conduct or content would tend to damage our　 reputation and goodwill. If we delete your account for the foregoing reasons, you may not re-register for our Services. We may block your email address and Internet protocol address to prevent further registration.
<br>User content（twitter）
<br>You are responsible for your use of the Services and for any Content you provide, including compliance with applicable laws, rules, and regulations. You should only provide Content that you are comfortable sharing with others.
<br>Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. All Content is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content.
<br>We reserve the right to remove Content that violates the Agreement, including for example, copyright or trademark violations, impersonation, unlawful conduct, or harassment.
<br>Links to other websites
<br>Although FreFre Website may link to other websites, we are not, directly or indirectly, implying any approval, association, sponsorship, endorsement, or affiliation with any linked website, unless specifically stated herein. Some of the links on the Website may be "affiliate links". This means if you click on the link and purchase an item, Office will receive an affiliate commission. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their websites. We do not assume any responsibility or liability for the actions, products, services, and content of any other third-parties. You should carefully review the legal statements and other conditions of use of any website which you access through a link from FreFre Website. Your linking to any other off-site websites is at your own risk.
<br>Prohibited uses（上部バズフィード）
<br>You promise not to use the Services for any purpose that is prohibited by the Agreement. You are responsible for all of your activity in connection with the Services.
<br>You shall not (and shall not permit any third party to) either take any action or upload, download, post, submit or otherwise distribute or facilitate distribution of any Content on or through the Service, including without limitation any User Content.
<br>
<br>(a) to use for any unlawful purpose;
<br>(b) to solicit others to perform or participate in any unlawful acts;
<br>(c) to violate any international, national, federal, provincial or state regulations, rules, laws, or local ordinances;
<br>(d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others;
<br> (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information;
<br>(g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet;
<br>(h) to collect or track the personal information of others;
<br>(i) to spam, phish, pharm, pretext, spider, crawl, or scrape;
<br>(j) to use for any obscene or immoral purpose;
<br>(k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet.
<br>
<br>We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.
<br>
<br>Intellectual property rights
<br>We do not transfer to you any intellectual property owned by Office or third-parties, and all rights, titles, and interests in and to such property will remain solely with Office or third-parties. All trademarks, service marks, graphics and logos used in connection with FreFre Website or Services, are trademarks or registered trademarks of Office or Office licensors. Other trademarks, service marks, graphics and logos used in connection with FreFre Website or Services may be the trademarks of other third-parties. Your use of FreFre Website and Services grants you no right or license to reproduce or otherwise use any Office or third-party trademarks.
<br>No warranties
<br>FreFre Website is provided “as is,” with all faults, and Office makes no express or implied representations or warranties, of any kind related to FreFre Website or the materials contained on FreFre Website. Additionally, nothing contained on FreFre Website shall be construed as providing consult or advice to you.
<br>Limitation of liability
<br>We give no warranties of any kind concerning FreFre Website or the Content. In particular, we do not warrant that FreFre Website or any of its contents is virus free. You must take your own precautions in this respect as we accept no responsibility for any infection by virus or other contamination or by anything which has destructive properties.
<br>Although we will do our best to provide constant, uninterrupted access to FreFre Website, we do not guarantee this. We accept no responsibility or liability for any interruption or delay.
<br>Indemnification
<br>Indemnity  You agree that it shall indemnify FreFre office against all claims, demands, losses, damage, costs or expenses It occurred in FreFre office as a result of a breach by User of any provision of this Agreement, law or regulation and as a result of any third party legal action or threatened action in relation to Intellectual Property Rights infringement.
<br>
<br>Severability
<br>All rights and restrictions contained in this Agreement may be exercised and shall be applicable and binding only to the extent that they do not violate any applicable laws and are intended to be limited to the extent necessary so that they will not render this Agreement illegal, invalid or unenforceable. If any provision or portion of any provision of this Agreement shall be held to be illegal, invalid or unenforceable by a court of competent jurisdiction, it is the intention of the parties that the remaining provisions or portions thereof shall constitute their agreement with respect to the subject matter hereof, and all such remaining provisions or portions thereof shall remain in full force and effect.
<br>Dispute resolution
<br>The formation, interpretation, and performance of this Agreement and any disputes arising out of it shall be governed by the substantive and procedural laws of Tokyo, Japan without regard to its rules on conflicts or choice of law and, to the extent applicable, the laws of Japan. The exclusive jurisdiction and venue for actions related to the subject matter hereof shall be the courts located in Tokyo, Japan, and you hereby submit to the personal jurisdiction of such courts. You hereby waive any right to a jury trial in any proceeding arising out of or related to this Agreement. The United Nations Convention on Contracts for the International Sale of Goods does not apply to this Agreement.
<br>Changes and amendments
<br>We reserve the right to modify this Agreement or its policies relating to FreFre Website or Services at any time, effective upon posting of an updated version of this Agreement on FreFre Website. When we do, we will post a notification on the main page of FreFre Website. Continued use of FreFre Website after any such changes shall constitute your consent to such changes.
<br>Acceptance of these terms
<br>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using FreFre Website or its Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access FreFre Website and its Services.
<br>Contacting us
<br>If you have any questions about this Agreement, please contact us.
<br>This document was last updated on August 23, 2019
<br>
<br>ここから日本語の利用規約
<br>
<br>規約と条件
<br>これらの利用規約（以下「本規約」とします。）は、FreFre事務局（以下「事務局」とします。）とユーザー（以下、「ユーザー」または「あなた」とします。）との間の合意を規定するものです。本規約は、＠＠＠URL Webサイトおよびその製品またはサービス（以下、総称して「本Webサイト」または「本サービス」とします。）の使用に関する一般条件を規定しています。
<br>本サービスを利用できる人（twitter）
<br>本サービスを利用できるのは、FreFreと拘束力のある契約を締結することに同意し、適用のある法域の法律によりサービスを受けることが禁止されていない者に限ります。また、いかなる場合においても、本サービスを利用するためには少なくとも13歳以上でなければならないものとします。
<br>アカウントとメンバーシップ
<br>ユーザーがFreFreウェブサイトでアカウントを作成する場合、ご自身でアカウントのセキュリティを維持する責任があり、アカウントの下で発生するすべてのアクティビティおよびそれに関連して実行されるその他のアクションについて、ユーザーにすべての責任があります。事務局は、ユーザーがサインインしてサービスを使用する際に、新しいアカウントを監視および調査する場合があります。事務局は、ユーザーが誤った連絡先情報を提供した場合、アカウントを終了させることがあります。アカウントの不正使用またはその他のセキュリティ侵害については、ユーザーが直ちに事務局に通知する必要があります。そのような行為または不作為の結果として生じたあらゆる種類の損害について、事務局は責任を負いません。ユーザーが本規約のいずれかの条項に違反したと判断した場合、またはユーザーの行動またはコンテンツが事務局あるいはFreFreの評判および信用を損なうおそれがあると判断した場合、ユーザーのアカウント（またはその一部）を一時停止、利用停止あるいは削除することがあります。 上記の理由でアカウントを削除した場合、サービスに再登録することができない場合があります。再登録を防ぐために、ユーザーのメールアドレスとインターネットプロトコルアドレスをブロックする場合があります。
<br>ユーザーコンテンツ（Twitter）
<br>ユーザーは、適用される法令や規則への遵守を含め、本サービスの利用および自身が提供するコンテンツに対して責任を負います。提供されるコンテンツは、他の人たちと共有して差し支えのないものに限定してください。
<br>本サービスを介して投稿されたまたは本サービスを通じて取得したコンテンツやマテリアルの使用またはこれらへの依拠は、ユーザーの自己責任において行ってください。事務局は、本サービスを介して投稿されたいかなるコンテンツや通信内容についても、その完全性、真実性、正確性、もしくは信頼性を是認、支持、表明もしくは保証せず、また本サービスを介して表示されるいかなる意見についても、それらを是認するものではありません。ユーザーは、本サービスの利用により、不快、有害、不正確あるいは不適切なコンテンツ、または場合によっては、不当表示されている投稿またはその他欺瞞的な投稿に接する可能性があることを、理解しているものとします。すべてのコンテンツは、そのコンテンツの作成者が単独で責任を負うものとします。事務局は、本サービスを介して投稿されるコンテンツを監視または管理することはできず、また、そのようなコンテンツについて責任を負うこともできません。
<br>事務局は、規約に違反しているコンテンツ（著作権もしくは商標の侵害、なりすまし、不法行為または嫌がらせ等）を削除する権利を留保します。
<br>他のウェブサイトへのリンク
<br>このWebサイトは他のWebサイトにリンクしている可能性がありますが、ここに明記されていない限り、リンクされたWebサイトへの承認、関連付け、スポンサーシップ、承認、または提携を直接的または間接的に示唆するものではありません。FreFreウェブサイト上のリンクの一部は「アフィリエイトリンク」である場合があります。つまり、リンクをクリックしてアイテムを購入すると、事務局はアフィリエイトコミッションを受け取ります。事務局は、ビジネスや個人の提供やウェブサイトのコンテンツを調査または評価する責任を負いません。事務局は、他の第三者の行為、製品、サービス、およびコンテンツについて一切の責任を負いません。このWebサイトからリンクを介してアクセスするWebサイトの法的声明およびその他の使用条件を、ユーザーが注意して確認するようにしてください。リンクへの訪問は他のどのようなウェブサイトであっても、あなた自身の危険において行うものとします。
<br>使用禁止事項
<br>ユーザーは、本規約によって禁止される目的のために本サービスを利用しないことを約束します。ユーザーは、本サービスに関連するすべての行為について責任を負うものとします。
<br>ユーザーは、自らまたは第三者をして、下記のような行動を取り、あるいは 本サービス上でまたはこれを通じて、下記のようなコンテンツ（ユーザーコンテンツを含みますがこれに限りません）をアップロード、ダウンロード、投稿、提出または他の方法により配信もしくは配信を促進することはできません。
<br>（a）違法な目的のための使用
<br>（b）違法行為を実行または参加するように他者を勧誘すること
<br>（c）国際、国内、連邦、州または州の規制、規則、法律、または地方条例に違反すること
<br>（d）事務局の知的財産権または他者の知的財産権を侵害または侵害すること
<br>（e）性別、性的指向、宗教、民族、人種、年齢、出身国、または障害に基づいて、嫌がらせ、虐待、侮辱、危害、名誉棄損、中傷、軽蔑、脅迫、または差別を行うこと
<br>（f）虚偽または誤解を招く情報を送信すること
<br>（g）本サービスまたは関連するWebサイト、他のWebサイト、またはインターネットの、機能または操作に影響を与えるおそれのあるウイルスまたはその他の悪意のあるコードをアップロードまたは送信すること
<br>（h）他人の個人情報を収集または追跡すること
<br>（i）スパム、フィッシング、ファーミング、口実、クモ、クロール、またはスクレイピング
<br>（j）わいせつまたは不道徳な目的のための使用
<br>（k）本サービスまたは関連するWebサイト、他のWebサイト、またはインターネットのセキュリティ機能を妨害または回避すること。
<br>
<br>事務局は、いかなる使用禁止違反についても、本サービスまたは関連ウェブサイトの使用を終了させる権限を有します。
<br>知的財産権
<br>事務局は、事務局または第三者が所有する知的財産をユーザーに譲渡することはなく、そのような財産に対するすべての権利、権原、および利益は事務局または第三者のみに留まります。FreFreウェブサイトまたはサービスに関連して使用されるすべての商標、サービスマーク、グラフィックスおよびロゴは、事務局または事務局ライセンサーの商標または登録商標です。FreFreウェブサイトまたはサービスに関連して使用されるその他の商標、サービスマーク、グラフィックス、ロゴは、他のサードパーティの商標である場合があります。事務局のWebサイトおよびサービスの使用により、事務局または第三者の商標ｚを複製または使用する権利またはライセンスは付与されません。
<br>非保証https://www.pandadoc.com/website-standard-terms-and-conditions-template/
<br>FreFreウェブサイトは誤りがあっても「現状のまま」で提供され、事務局は、FreFreウェブサイトまたはFreFreウェブサイトに含まれる資料に関連するいかなる種類の明示または黙示の表明または保証も行いません。さらに、FreFreウェブサイトに含まれるものは、あなたに相談や助言を提供するものと解釈されるものではありません。
<br>
<br>責任の制限 https://www.theguardian.com/help/terms-of-service
<br>FreFreウェブサイトまたはそのコンテンツに関するいかなる種類の保証もいたしません。特に、FreFreウェブサイトまたはそのコンテンツにウイルスがないことについては保証しません。ウイルスやその他の汚染、または破壊的な性質を持つものによる感染については一切責任を負いませんので、この点についてはご自身の予防措置を講じる必要があります。
<br>事務局はFreFreウェブサイトへの継続的かつ中断のないアクセスを提供するために最善を尽くしますが、これを保証するものではありません。中断や遅延については、一切責任を負いません。
<br>
<br>補償
<br>クライアントによる本規約、法律、規制のいずれかの条項違反の結果、および知的財産権の侵害に関連する第三者の法的措置または脅迫措置の結果FreFre事務局が被ったすべての請求、要求、損失、損害、費用、支出に対して、ユーザーはFreFre事務局を補償することに同意します
<br>可分性
<br>本規約に含まれるすべての権利と制限は、本規約が違法、無効あるいは執行不能にならないように必要な範囲に限定される範囲でのみ行使および適用されるものとします。本規約の条項の一部または一部が管轄権のある裁判所により違法、無効または執行不能と判断される場合、残りの条項またはその一部は、本規約に関する合意を構成することが当事者の意図です。本規約の主題、およびそのような残りのすべての条項またはその一部は、引き続き完全な効力を有するものとします。
<br>論争の解決
<br>本規約およびそれから生じる紛争の成立、解釈、および履行は、紛争または法の選択に関する規則、および適用可能な範囲で法律に関係なく、日本の東京の実体法および手続き法に準拠するものとします。本件の主題に関連する訴訟の専属管轄権および裁判地は、日本の東京にある裁判所であるものとし、ユーザーはこのような裁判所の対人管轄権に従うものとします。ユーザーは、本規約から生じるまたは本規約に関連する手続きにおいて、in審裁判の権利を放棄します。国際物品売買規約に関する国連条約は、本規約には適用されません。
<br>変更および修正
<br>事務局は、本規約の更新版をFreFre ウェブサイトに掲載した時点で、本規約またはFreFre Webサイトまたはサービスに関するポリシーをいつでも変更する権利を留保します。その際、FreFreウェブサイトのメインページに通知を掲載します。このような変更が行われた後もFreFreウェブサイトを継続して使用することにより、そのような変更に対するユーザーの同意が得られたものとします。
<br>これらの条件の受け入れ
<br>ユーザーは、本規約を読み、その規約条件すべてに同意したことを認めます。FreFreウェブサイトまたはそのサービスを使用することにより、ユーザーは本規約に拘束されることに同意するものとします。本規約の条件を順守することに同意しない場合、FreFreウェブサイトおよびそのサービスを使用またはアクセスする権限はありません。
<br>お問い合わせ
<br>本規約についてご質問がある場合は、お問い合わせください。
<br>このドキュメントの最終更新日は2019年８月23日です
<br></div>
<br>
