<div class="login_page_cover">
  <div class="login_page">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="title">
          <div class="float_jp">
            会員退会
          </div>
          <div class="base_en">
            Unsubscribed
          </div>
        </div>
        <div class="input-groups">
          <div class="input_title">
            <div class="float_jp"style="font-size:15px;margin-bottom:10px;">
              アカウントを削除しました。ご利用をありがとうございました。
            </div>
            Account deleted. Thank you for using FreFre.
          </div>
          <div class="">
          </div>
        </div>
        <div class="submit_button_cover"style="margin-top:20px;">
          <%=link_to '/',class:"btn btn-default btn_send normal_button",style:"padding:2px 20px;" do %>
            <div class="float_jp">ホームへ</div>
            <div class="base_en"style="font-size:16px">Home</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
