<div class="news_cover">
  <%= link_to("/news/show_all" , class:"thread_link") do %>
    <div class="news_title">
      <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
      <div class="title_text">
        News / お知らせ
      </div>
    </div>
  <% end %>
  <% News.all.limit(3).each do |news| %>
    <%= link_to("/news/show/#{news.id}" , class:"thread_link") do %>
      <% there_be = true %>
      <div class="thread_cover thread_news_cover">
        <div class="thread_content">
          <%= simple_format(text_url_to_link(h(news.title_en + "..."))) %>
          <%= simple_format(text_url_to_link(h(news.title_jp + "..."))) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
