<% Notice.find(id: params[:id].to_i) do |notice| %>
  <div class="profile_notice">
    <div class="panel-title"style="display:inline-block">
      <div class="panel-title-text">
        <div class="float_jp">
          お知らせ
        </div>
        <div class="float_en">
          Notice
        </div>
      </div>
    </div>
  </div>
  <div class="">
  </div>
<% end %>
