<p>日本語の文は下の方にあります↓</p>
<br>
<%= @data[3] %>
<br>
<% if @data[5] != "" %>
  <%= link_to "Jump to Link",@data[5] %>
<% end %>
<br><br>
<%= @data[4] %>
<br>
<% if @data[5] != "" %>
  <%= link_to "Jump to Link",@data[5] %>
<% end %>
