
.table_all_cover{
  color:#4e4e4e;
}
.make_group_button{
  border: solid 2px #ff9d3b;
  color: #fff;
  background-color: #ff9d3b;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 10px 0px;
}
.make_group_button:hover{
  border: solid 2px #ff9d3b;
  color: #fff;
  background-color: #ff9d3b;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
}
.group_list{
  color: #07689f;
  padding: 10px;
  padding-top: 0px;
  padding-bottom:5px;
  font-size: 23px;
  font-weight: bold;
}
.group_list_explain{
  color: #28689f;
  margin-left: 10px;
  margin-bottom:5px;
  .explain_text{
    margin-top:-3px;
  }
}
a{
  color:#07689f;
}
.ads_center_top {
  margin-left: 5px;
  margin-top: 80px;
  margin-bottom: 5px;
}
p{
  margin:0px;
}
.no_inline{
  p{
    display:block!important;
  }
}
.inline{
  p{
    display:inline-block!important;
  }
}
.fakeloader_cancel_button{
    position: absolute;
    margin-left: calc(50% - 75px);
    margin-top: calc(50vh + 50px);
    background:#ddd;
}
.modal-backdrop{
  opacity: 0.5;
  filter:alpha(opacity=0.5);
  -ms-filter:"alpha(opacity=0.5)";
}
.video-js{
  margin-left: calc(50% - 150px);
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 200px;
  #my-video_html5_api{
    z-index:2;
  }
  .vjs-big-play-button{
    top: calc(50% - 25px)!important;
    left: calc(50% - 45px)!important;
    z-index:3;
  }
  .vjs-control-bar{
    z-index:3;
  }
}
.help_show{
  border-radius: 5px;
  display: inline-block;
  background: #0097a7;
  margin-left: 20px;
  vertical-align: bottom;
  .help_text{
    display: inline-block;
    margin-left:5px;
    color:#fff;
  }
  .glyphicon-question-sign{
    font-size: 16px;
    color: #fff;
    vertical-align: text-bottom;
  }
}

.zoom_modal{
  .modal-dialog{
    text-align: center;
    img{
      max-height: 80vh;
      max-width: 60vw;
    }
    .close_button{
      position: absolute;
      right: 0px;
      z-index: 3;
      background-color: rgba(0,0,0,0);
      font-size: 20px;
    }
  }
}

.help_modal{
  .modal-dialog{
    width:60vw;
    .carousel-inner{
      border-radius: 6px;
      img{
        height: 35vw;
        width: 60vw;
        border-radius: 5px;
      }
    }
    .close_button{
      position: absolute;
      right: 0px;
      z-index: 3;
      background-color: rgba(0,0,0,0);
      font-size: 20px;
    }
  }
}
.auto_subtitle{
  margin-top: -72px!important;
}
.help_show_small{
  border-radius: 5px;
  background: #0097a7;
  vertical-align: bottom;
  font-size:12px;
  padding:2px;
  position: absolute;
  left: calc(2% + 5px);
  .help_text{
    display: inline-block;
    margin-left:3px;
    color:#fff;
  }
  .glyphicon-question-sign{
    font-size: 14px;
    color: #fff;
    vertical-align: top;
  }
}

.sub_content_cover{
  display: inline-block;
  width:300px;
  vertical-align: top;
  margin-top:80px;
  .profile_menu_tab{
    .nav{
      border-radius:5px;
      border:solid thin #ccc;
      margin-top:10px;
      font-weight: bold;
      .nav-item{
        border-bottom: solid 1px #ccc;
        .nav-link{
          padding: 5px 15px;
          .text_cover{
            .jp{
              font-size:11px;
            }
            .en{
              font-size:15px;
              margin-top: -2px;
            }
          }
        }
        .threadtype_img_cover{
          display: inline-block;
          .threadtype_img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          .user_others_dots{
            vertical-align: middle;
            margin-top: 20px;
            display: inline-block;
            margin-left: -15px;
          }
          .user_cover{
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
            min-width: 70px;
            .user_img{
              width: 40px;
              height: 40px;
              margin-left: 10px;
              border-radius: 50%;
            }
            .new_user_icon {
              float: right;
              margin-top: -5px;
              color: #28689f;
            }
            .user_name{
              max-width: 60px;
              word-wrap: break-word;
              line-height: 13px;
              text-align: center;
            }
          }
        }
      }
      .menu_right_button{
        float:right;
        border-radius:50%;
        background:#07689f;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 23px;
        margin-right: -5px;
        margin-top: -32px;
        color:#fff;
      }
    }
  }
  .mirai_img{
    margin-top:20px;
    margin-left:50px;
    width: 200px;
    height: 130px;
  }
  iframe{
    width: 27vw;
    height: 15.4vw;
  }
}
.main_content_cover{
  padding-left:5px;
  width: calc(100% - 310px);
  display: inline-block;
  min-height: calc(100vh - 70px);
  .mirai_logo{
    text-decoration: none;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-bottom: solid thin;
  }
  .left_logo{
    margin-left: 15px;
    float:left;
  }
  .right_logo{
    float:right;
    margin-right:10px;
  }
  .top_explain{
    font-size:14px;
  }
  .modal{
    .btn_send{
      background:#ff9d3b!important;
    }
  }
  .panel-title{
    color: #f19b38;
  }
  object{
    height:0px;
  }
  .obj-fit-img {
    object-fit: cover;
    object-position: 0 100%;
    font-family: 'object-fit: cover; object-position: 0 100%;'
  }
  .none_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  .normal_button{
    display: inline-block;
    background: #ff9d3b;
    color:#fff;
    word-wrap: break-word;
    border-radius: 5px;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    .picture_send{
      display: inline-block;
      margin-right:10px;
    }
    .image{
      width:28px;
      height:20px;
      margin-top:-15px;
    }
    .picture_send{
      display: inline-block;
      margin-right:0px;
      width:20px;
    }
    .button_text{
      display: inline-block;
      .float_jp{
        font-size:11px;
      }
    }
    .text_box{
      margin-left: -2px;
      display: inline-block;
      vertical-align: sub;
    }
    .icon{
      float:left;
      margin-top:10px;
      padding-right: 2px;
      font-size: 18px;
    }
  }

  .contract{
    border: solid 1px #ff9d3b;
    color:#ff9d3b;
    background: #fff;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
    font-weight: bold;
  }
  .contract:hover{
    color:#fff;
    background: #ff9d3b;
  }
  .space{
    margin-top: 5px;
  }
  .green_button{
    background: #66bfbf;
  }
  .fullwidth_button{
    width:100%;
  }
  .glyphicon-star{
    vertical-align: middle;
  }
  .glyphicon-star-empty{
    vertical-align: middle;
  }
  .follow_cover{
    width:100%;
    margin-left:0px;
    .user_name{
      display: inline-block;
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      margin-left: 10px;
      margin-top:5px;
      font-weight: bold;
    }
    .post_content_text{
      margin-left:5px!important;
    }
    .group_user_cover{
      vertical-align: top;
    }
    .follow_button {
      float:right;
      .mes_button{
        padding:2px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .icon{
        margin-top:4px;
        margin-right:5px;
      }
    }
  }
  .follow_button_submit{
    color:#ff9d3b;
    border-color:#ff9d3b;
    background:#fff;
  }

  .follow_button_submit:active{
    color:#fff;
    border-color:#ff9d3b;
    background:#ff9d3b;
  }
  .follow_button_submit:hover{
    color:#fff;
    border-color:#ff9d3b;
    background:#ff9d3b;
  }
  .report_button{
    color: #fff;
    background: #27689f;
  }
}
.manager_content_cover{
  width:95vw;
  padding-top:50px;
  .thread_cover{
    padding: 5px!important;
    border-radius: 0px!important;
    margin-bottom: 0px!important;
  }
}

#successModal{
  .modal-dialog{
    border-radius: 5px;
    width:40vw;
    margin-left:25vw;
    .modal-body{
      width:auto;
    }
    .success{
      background: #def5dd;
      border-radius: 5px;
      color:#155724;
    }
    .fail{
      background: #f8d7da;
      border-radius: 5px;
      color:#721c24;
    }
  }
}
body{
  //background:#fff0a017;
}

@media screen and (max-width: 1050px){

}
@media screen and (max-width: 1200px){
  .help_show_small{
    margin-top: -22px;
  }
  .sign_page_cover{
    margin-left:17.5vw!important;
  }
}
@media screen and (max-width: 600px){
  .profile{
    .lang_bar_cover{
      width: calc(100vw - 150px)!important;
    }
  }
  .lang_bar_cover{
    width:600px!important;
  }
}
@media screen and (max-width: 750px){
  .profile_main{
    width: 100%!important;
  }
  .sub_content_cover{
    a{
      display: block;
    }
    img{
      display: block;
    }
  }
  .profile .lang_bar_cover .lang_bar{
    margin-left:0px!important;
  }
  .space_form{
    margin-left: calc(50% - 68px);
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    .trans_cover{
      display:inline-block;
      .post_button:focus { outline:0; }
      .post_button{
        width: 60px!important;
        height: 30px!important;
        .glyphicon-arrow-left{
          -moz-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          margin-left: 20px!important;
          padding-top: 5px!important;
        }
        .glyphicon-arrow-right{
          -moz-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          margin-left: -15px!important;
          padding-top: 5px!important;
        }
        .button_text_en{
          margin-left: 17px!important;
          margin-top: -20px!important;
        }
        .button_text_jp{
          margin-left: -10px!important;
          margin-top: -20px!important;
        }
      }
    }
  }
  .intro{
    width: 100%!important;
  }
  .content_input_form{
    width: calc(100% - 10px)!important;
  }
  .form_lang{
    width: calc(100% - 10px)!important;
  }
  .post_form_cover{
    width: calc(100% - 10px)!important;
  }
  .category_cover{
    .dropdown{
      display:block!important;
    }
    .category_link{
      font-size: 13px;
      padding-left: 8px;
      padding-right: 8px;
    }
    .category_link.main:nth-child(n + 7) {
      display:none;
    }
  }
  .sub_content_cover{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 30px;
    padding-right: 50px;
    margin-bottom: 20px;
    .mirai_img{
      margin-top:20px;
      margin-left: calc(50% - 150px);
      width: 300px;
      height: 200px;
    }
    iframe{
      width:80vw;
      height:45vw
    }
  }
  .login_page{
    .password_reset{
      margin-right: 15px!important;
    }
  }
  .search_form{
    display: none!important;
  }
  .main_content_cover{
    width:560px!important;
  }
  .profile_history{
    margin-left: 5px!important;
  }
  .category_list_all_cover{
    width:100%!important;
  }
  .category_head{
    width:90%!important;
  }
  .category_all_content{
    margin-left: -35px!important;
    margin-right: -35px!important;
  }
  .big_category_list{
    width: 95%!important;
  }
  .thread_cover{
    padding-right: 5px!important;
  }
  .thread_all{
    padding-left: 0px!important;
    padding-right: 5px!important;
  }
  .content_cover{
    margin-left: 0px!important;
  }
  .flag_show{
    display: none;
    .flag_image{
      margin-left:calc(33% - 20px)!important;
    }
  }
  .lang_img{
    display:block!important;
  }
  .ui-selectmenu-button:nth-child(2){
    margin-top: 0px!important;
    margin-left: 0px!important;
  }
  .make_content{
    .category_modal_open{
      display:block;
    }
  }
  .post_form_cover_en{
    width:90%!important;
    margin-left:5%!important;
  }
  .post_form_cover_jp{
    width:90%!important;
    margin-left:5%!important;
  }
  .make_thread_cover{
    .post_footer{
      margin-left:10px!important;
      width:calc(95%)!important;
    }
    .post_text{
      padding-left:1vw!important;
      padding-right:1vw!important;
      .picture_send{
        font-size:calc(4vw)!important;
      }
    }
  }
  .profile{
    .lang_bar_cover{
      .jp_country{
        margin-left: 10px!important;
      }
      .country_flag{
        margin-right:1vw!important;
        margin-left:1vw!important;
        .image{
          width:100%!important;
          height:100%!important;
        }
      }
    }
  }
  .lang_bar_cover{
    .lang_bar{
      margin-left: 50px!important;
    }
    .slider{
      width:300px!important;
    }
  }
  .make_thread_category{
    width:95%!important;
    .hash_form{
      margin-right: 0px!important;
      .hash_input{
        width:calc(50% - 33px)!important;
      }
    }
  }
}

@media screen and (max-width: 570px){
  .lang_bar_cover{
    .en_country{
      margin-left: 10px;
    }
    .lang_bar{
      margin-left:5vw!important;
      .slider{
        width:calc(80vw - 162px) !important
      }
    }
    .slider-handle{
      top: -5px !important;
      width: 10px !important;
      height: 10px !important;
      background: rgb(80, 120, 220);
      z-index:50;
      .slider_icon{
        color:#fff;
        margin-left:2px;
        margin-top:2.5px;
        font-size:25px;
      }
    }
  }

  .top_explain{
    .delete_message{
      display:none;
    }
  }
  .not_logined_cover {
    margin-left:0px!important;
    width: 100%!important;
    margin-right:30px;
  }
  .main_content_cover{
    width:100%!important;
    padding-left:5px;
    padding-right:5px;
  }
  .login_page{
    width:99vw!important;
  }
  .words_post_button {
    .button_text{
      //display:none!important;
    }
  }
  .thread_cover{
    padding:5px!important;
    .group_user_cover{
      margin:0px!important;
      img{
        width:30px!important;
        height:30px!important;
      }
    }
    .thread_content{
      width:100%!important;
      margin-top: -14px;
      .user_name{
        margin-left: 35px;
      }
      .post_content_position{
        margin-top: 7px;
      }
      .see_more{
        display:none;
      }
      .post_content{
        margin-right:0px!important;
      }
    }
  }
  .nav-link{
    padding:5px 10px !important;
  }
  .profile_sub{
    width:25%!important;
    .edit_user{
      margin-top: -47px!important
    }
    .profile_picture{
      width: 100px!important;;
      .group_img{
        width:100px!important;
      }
    }
    .profile_contents_change{
      width:100px!important;
    }
  }
  .profile_other, .profile{
    .profile_main{
      margin-left: 100px !important;
      width: calc(100% - 120px)!important;
    }
    .profile_picture .group_img{
      height:100px!important;
    }
    .user_cover{
      .group_name{
        margin-left:30px!important;
      }
      .follow_button1{
        margin-top:5px;
      }
    }
    .profile_title .title{
      .jp{
        font-size:12px!important;
      }
      font-size:16px!important;
    }
    .content_cover{
      width:100%!important;
    }
    .tab-content{
      padding-top:calc(14vw + 20px)!important;
    }
    .profile_picture_change{
      .en{
        font-size: 14px!important;
        margin-top: 1px!important;
      }
      .jp{
        font-size: 12px!important;
      }
    }
    .profile_contents_button{
      .en{
        font-size: 14px!important;
        margin-top: 1px!important;
      }
      .jp{
        font-size: 10px;
      }
    }
    .en_country{
      margin-left: 10px!important;
    }
    .lang_bar_cover{
      width: calc(100vw - 150px)!important;
      margin-top: 36px!important;
      //margin-top:calc(16px + 7vw)!important;
      .lang_bar{
        .slider{
          width:calc(65%)!important;
        }
      }
      .jp_country{
        margin-left: 10px!important;
      }
    }
  }
  input.cmn-toggle-round + label {
    width:5vw!important;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    margin-left: 10vw!important;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: calc(12vw + 40px)!important;
  }
  .switch{
    margin-top: calc(35px - 5vw)!important;
    padding-top: 0px!important;
  }
  .profile_page{
    width: 98%;
  }
  .post_footer{
    .post_text{
      font-size:4vw!important;
      padding: 2vw!important;
      padding-left: 0px!important;
      .float_jp{
        font-size:2vw!important;
      }
    }
    .picture_send{
      font-size:5vw!important;
    }
    .picture_send{
      width: 7vw!important;
      height: 5vw!important;
    }
  }
  .post_form{
    .image_post_button{
      text-align: center;
      padding-left:0px!important;
      padding-right:0px!important;
      padding-bottom:0px!important;
    }
  }
  .post_form_cover_enjp{
    .content_post{
      height: 150px;
    }
  }
}
