a{
  color:#07689f;
}

p{
  margin:0px;
}
.no_inline{
  p{
    display:block!important;
  }
}
.inline{
  p{
    display:inline-block!important;
  }
}
.video-js{
  width: 60vw;
  height: 40vw;
  #my-video_html5_api{
    z-index:2;
  }
  .vjs-big-play-button{
    z-index:3;
  }
  .vjs-control-bar{
    z-index:3;
  }
}
.help_show{
  border-radius: 5px;
  display: inline-block;
  background: #0097a7;
  margin-left: 20px;
  vertical-align: bottom;
  .help_text{
    display: inline-block;
    margin-left:5px;
    color:#fff;
  }
  .glyphicon-question-sign{
    font-size: 16px;
    color: #fff;
    vertical-align: text-bottom;
  }
}

.zoom_modal{
  .modal-dialog{
    text-align: center;
    img{
      max-height: 80vh;
      max-width: 60vw;
    }
    .close_button{
      position: absolute;
      right: 0px;
      z-index: 3;
      background-color: rgba(0,0,0,0);
      font-size: 20px;
    }
  }
}

.help_modal{
  .modal-dialog{
    width:60vw;
    .carousel-inner{
      border-radius: 6px;
      img{
        height: 35vw;
        width: 60vw;
        border-radius: 5px;
      }
    }
    .close_button{
      position: absolute;
      right: 0px;
      z-index: 3;
      background-color: rgba(0,0,0,0);
      font-size: 20px;
    }
  }
}
.help_show_small{
  border-radius: 5px;
  background: #0097a7;
  vertical-align: bottom;
  font-size:12px;
  padding:2px;
  position: absolute;
  left: calc(2% + 5px);
  .help_text{
    display: inline-block;
    margin-left:3px;
    color:#fff;
  }
  .glyphicon-question-sign{
    font-size: 14px;
    color: #fff;
    vertical-align: top;
  }
}

.sub_content_cover{
  display: inline-block;
  width:25%;
  vertical-align: top;
  margin-top: 150px;
  margin-left: 2%;
  iframe{
    width: 27vw;
    height: 15.4vw;
  }
}
.main_content_cover{
  padding-top:60px;
  padding-left:2%;
  width:calc(95%);
  display: inline-block;
  .mirai_logo{
    text-decoration: none;
    position: absolute;
    margin-top: 10px;
    font-size: 16px;
    border-bottom: solid thin;
  }
  .left_logo{
    margin-left: 15px;
  }
  .right_logo{
    margin-left: calc(30% - 220px);
  }
  .top_explain{
    font-size:14px;
  }
  .modal{
    .btn_send{
      background:#ff9d3b!important;
    }
  }
  .panel-title{
    color: #f19b38;
  }
  object{
    height:0px;
  }
  .obj-fit-img {
    object-fit: cover;
    object-position: 0 100%;
    font-family: 'object-fit: cover; object-position: 0 100%;'
  }
  .none_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  .normal_button{
    display: inline-block;
    background: #ff9d3b;
    border: solid 1px #cd853f4d;
    color:#fff;
    word-wrap: break-word;
    border-radius: 5px;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    .picture_send{
      display: inline-block;
      margin-right:10px;
    }
    .image{
      width:28px;
      height:20px;
      margin-top:-15px;
    }
    .picture_send{
      display: inline-block;
      margin-right:0px;
      width:20px;
      margin-left:5px!important;
    }
    .button_text{
      display: inline-block;
      .float_jp{
        font-size:11px;
      }
    }
    .text_box{
      margin-left: -2px;
      display: inline-block;
      vertical-align: sub;
    }
    .icon{
      float:left;
      margin-top:10px;
      padding-right: 2px;
      font-size: 18px;
    }
  }
  .green_button{
    background: #66bfbf;
  }
  .fullwidth_button{
    width:100%;
  }
  .glyphicon-star{
    vertical-align: middle;
  }
  .glyphicon-star-empty{
    vertical-align: middle;
  }
  .follow_button_submit{
    color:#ff9d3b;
    border-color:#ff9d3b;
    background:#fff;
  }
  .report_button{
    color: #fff;
    background: #27689f;
  }
}
.manager_content_cover{
  width:95vw;
  padding-top:50px;
  .thread_cover{
    padding: 5px!important;
    border-radius: 0px!important;
    margin-bottom: 0px!important;
  }
}

#successModal{
  .modal-dialog{
    border-radius: 5px;
    width:40vw;
    margin-left:25vw;
    .modal-body{
      width:auto;
    }
    .success{
      background: #def5dd;
      border-radius: 5px;
      color:#155724;
    }
    .fail{
      background: #f8d7da;
      border-radius: 5px;
      color:#721c24;
    }
  }
}
body{
  //background:#fff0a017;
}
@media screen and (max-width: 1000px){
  .help_show_small{
    margin-top: -22px;
  }
  .sign_page_cover{
    margin-left:17.5vw!important;
  }
}
@media screen and (max-width: 600px){
  .profile{
    .lang_bar_cover{
      width:70%!important;
    }
  }
  .lang_bar_cover{
    width:600px!important;
  }
}
@media screen and (max-width: 750px){
  .sub_content_cover{
    //display:none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 30px;
    padding-right: 50px;
    margin-bottom: 20px;
    iframe{
      width:80vw;
      height:45vw
    }
  }
  .login_page{
    .password_reset{
      margin-right: 15px!important;
    }
  }
  .search_form{
    display: none!important;
  }
  .main_content_cover{
    width:560px!important;
  }
  .profile_history{
    margin-left: 5px!important;
  }
  .category_list_all_cover{
    width:100%!important;
  }
  .category_head{
    width:90%!important;
  }
  .category_all_content{
    margin-left: -35px!important;
    margin-right: -35px!important;
  }
  .big_category_list{
    width: 95%!important;
  }
  .thread_cover{
    padding-right: 5px!important;
  }
  .thread_all{
    padding-left: 0px!important;
    padding-right: 5px!important;
  }
  .content_cover{
    margin-left: 0px!important;
    margin-right: -15px!important;
  }
  .flag_image{
    margin-left:calc(33% - 20px)!important;
  }
  .ui-selectmenu-button:nth-child(2){
    margin-top: 0px!important;
    margin-left: 0px!important;
  }
  .make_content{
    .category_modal_open{
      display:block;
    }
  }
  .post_form_cover_en{
    width:90%!important;
    margin-left:5%!important;
  }
  .post_form_cover_enjp{

  }
  .post_form_cover_jp{
    width:90%!important;
    margin-left:5%!important;
  }
  .make_thread_cover{
    .post_footer{
      margin-left:10px!important;
      width:calc(95%)!important;
    }
    .post_text{
      padding-left:1vw!important;
      padding-right:1vw!important;
      .picture_send{
        font-size:calc(4vw)!important;
      }
    }
    .words_post_button{
    }
  }
  .profile{
    .lang_bar_cover{
      width:70%!important;
      .lang_bar{
        .slider{
          width:calc(60%)!important;
        }
      }
      .jp_country{
        margin-left: 10px!important;
      }
      .country_flag{
        height: 28px;
        width: 40px;
        margin-right:1vw!important;
        margin-left:1vw!important;
        .image{
          width:100%!important;
          height:100%!important;
        }
      }
    }
  }

  .lang_bar_cover{
    width:105%!important;
    .en_country{
      margin-left: 10px;
    }
    .lang_bar{
      padding-left:2px!important;
      .slider{
        width:calc(80vw - 120px)!important;
      }
    }
    .country_flag{
      width:32px;
      height:24px;
      margin-right:1vw!important;
      .image{
        width:100%!important;
        height:100%!important;
      }
    }
    .slider-handle{
      top: -5px !important;
      width: 10px !important;
      height: 10px !important;
      background: rgb(80, 120, 220);
      z-index:50;
      .slider_icon{
        color:#fff;
        margin-left:2px;
        margin-top:2.5px;
        font-size:25px;
      }
    }
  }
  .make_thread_category{
    width:93%!important;
    .hash_form{
      margin-right: 0px!important;
      .hash_input{
        width:calc(50% - 33px)!important;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .top_explain{
    .delete_message{
      display:none;
    }
  }
  .header_logo{
    margin-left: calc(50% - 25px)!important;
  }
  .not_logined_cover {
    margin-left:0px!important;
    width: 100%!important;
    margin-right:30px;
  }
  .main_content_cover{
    width:100%!important;
    padding-left:5px;
    padding-right:5px;
  }
  .login_page{
    width:99vw!important;
  }
  .words_post_button {
    .button_text{
      //display:none!important;
    }
  }
  .thread_cover{
    padding:5px!important;
    .group_user_cover{
      margin:0px!important;
      img{
        width:30px!important;
        height:30px!important;
      }
    }
    .thread_content{
      width:100%!important;
      margin-top: -24px;
      display: block!important;
      .user_name{
        margin-left: 35px;
      }
      .post_content_position{
        margin-top: 7px;
      }
    }
  }
  .nav-link{
    font-size: calc(4vw - 3px)!important;
    .jp{
      font-size: calc(3vw - 3px)!important;
    }
  }
  .profile_sub{
    width:25%!important;
    .edit_user{
      margin-top: calc(-7vw - 15px)!important;
    }
    .profile_picture{
      width:100%!important;
      .group_img{
        width:100%!important;
      }
    }
    .profile_contents_change{
      width:100%!important;
    }
  }
  .profile_other, .profile{
    .profile_main{
      margin-left:calc(30% - 20px)!important;
      width:70%!important;
    }
    .profile_picture .group_img{
      height:18vw!important;
    }
    .profile_title .title{
      .jp{
        font-size:calc(3vw - 3px)!important;
      }
      font-size:calc(5vw - 3px)!important;
    }
    .content_cover{
      width:100%!important;
    }
    .content_name{
      .en{
        font-size:calc(5vw - 3px);
      }
      .jp{
        font-size:calc(3vw - 3px)!important;
      }
    }
    .tab-content{
      padding-top:calc(14vw + 20px)!important;
    }
    .profile_picture_change{
      .en{
        font-size: calc(4vw - 3px)!important;
        margin-top: 1px!important;
      }
      .jp{
        font-size: calc(3vw - 3px)!important;
      }
    }
    .profile_contents_button{
      .en{
        font-size: calc(4vw - 2px)!important;
        margin-top: 1px!important;
      }
      .jp{
        font-size: calc(3vw - 3px)!important;
      }
    }
    .en_country{
      margin-left: 10px!important;
    }
    .lang_bar_cover{
      width:70%!important;
      //margin-top:calc(16px + 7vw)!important;
      .lang_bar{
        .slider{
          width:calc(65%)!important;
        }
      }
      .jp_country{
        margin-left: 10px!important;
      }
      .country_flag{
        width:7vw;
        height:5vw;
        margin-right:1vw!important;
        .image{
          width:100%!important;
          height:100%!important;
        }
      }
    }
  }
  .yes_text, .no_text{
    font-size:4vw!important;
  }
  .yes_text{
    margin-left:20px!important;
  }
  input.cmn-toggle-round + label {
    width:5vw!important;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    margin-left: 10vw!important;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: calc(12vw + 40px)!important;
  }
  .switch{
    margin-top: calc(35px - 5vw)!important;
    padding-top: 0px!important;
  }
  .profile_page{
    width: 98%;
  }
  .post_footer{
    .post_text{
      font-size:4vw!important;
      padding: 2vw!important;
      padding-left: 0px!important;
      .float_jp{
        font-size:2vw!important;
      }
    }
    .picture_send{
      font-size:5vw!important;
    }
    .picture_send{
      width: 7vw!important;
      height: 5vw!important;
    }
  }
  .post_form{
    .image_post_button{
      text-align: center;
      padding-left:0px!important;
      padding-right:0px!important;
      padding-bottom:0px!important;
    }
  }
  .post_form_cover_enjp{
    .content_post{
      height: 150px;
    }
  }
}
