.page_footer{
  bottom:0px;
  min-height:50px;    
  background: #66bfbf;
  text-align: center;
  width: 100%;
  .link_button{
    display: inline-block;
    margin:10px;
    margin-top:15px;
    font-size:16px;
    a{
      color:#fff;
    }
    .en{
      font-size:14px;
    }
    .jp{
      font-size:10px;
    }
  }
  .footer_bar{
    display: inline-block;
    color:#fff;
  }
}
