.page_footer{
  bottom:0px;
  min-height:70px;
  background:#3d67b4;
  text-align: center;
  .link_button{
    display: inline-block;
    margin:10px;
    margin-top:15px;
    margin-left:20px;
    font-size:16px;
    a{
      color:#fff;
    }
    .en{
      font-size:16px;
    }
    .jp{
      font-size:12px;
    }
  }
  .footer_bar{
    margin-left:10px;
    display: inline-block;
    color:#fff;
  }
}
