.lang_bar_cover{
  z-index: 20;
  background: #dff5eaff ;
  position:fixed;
  width:100%;
  padding-top:8px;
  margin-left:-2%;
  padding-left:5%;
  margin-top:-90px;
  border-bottom: none;
  .lang_bar{
    padding-left:calc(10% + 80px);
    padding-top:8px;
    padding-bottom:8px;
    .slider{
      width:calc(10% + 250px);
      display: inline-block;
      .tooltip{
        display: none !important;
      }
      .slider-handle{
        top: -5px !important;
        width: 30px !important;
        height: 30px !important;
        background: #0097a7;
        z-index:50;
        .slider_icon{
          color:#fff;
          margin-left:2px;
          margin-top:2.5px;
          font-size:25px;
        }
      }
      .slider-selection{
        //height: 20px !important;
        //top: -5px !important;
        background:#0097a7;
      }
      .slider-track-high{
        //top: -5px;
        //height:20px;
        background: #408bc9;
        -webkit-box-shadow:none !important;
      }
    }
    .country_flag{
      display: inline-block;
      margin-right: 10px;
      .image{
        height:28px;
        width:50px;
      }
    }
    .jp_country{
      margin-left:15px;
    }
  }
}
