
.down_slider{
  position:fixed;
  margin-left:10px;
  font-size:25px;
  margin-top:45px;
  z-index:10;
}
.lang_bar_cover{
  z-index: 20;
  background: #dff5ea;
  position: fixed;
  width: 100%;
  padding-top: 38px;
  padding-left: 5%;
  margin-top: 5px;
  border-bottom: none;
  .up_slider{
    float: left;
    margin-left: calc(-5% + 7px);
    font-size: 25px;
    //color: #408bc9;
  }
  .lang_bar{
    padding-left:calc(10% + 80px);
    padding-top: 6px;
    padding-bottom: 2px;
    .slider{

      margin-top: -20px;
      width:calc(10% + 250px);
      display: inline-block;
      .tooltip{
        display: none !important;
      }
      .slider-handle{
        top: -10px !important;
        margin-left: -7px;
        width: 50px !important;
        height: 50px !important;
        background: none;
        z-index: 50;
        box-shadow: none;
        .slider_icon{
          color: #fff;
          margin-top: 19px;
          font-size: 10px;
          background: #fff;
          padding: 3px 3px 2px 2px;
          border-radius: 50%;

        }
      }
      .slider-selection{
        //height: 20px !important;
        //top: -5px !important;
        height: 15px;
        border-radius: 20px 0px 0px 20px;
        background: rgb(0,177,196);
      }
      .slider-track-high{
        background: none;
        height: 15px;
        border-radius: 0px 20px 20px 0px;
        background: rgb(137,227,255);
        -webkit-box-shadow:none !important;
      }
    }
    .country_flag{
      display: inline-block;
      margin-right: 10px;
      .image{
        height: 20px;
        width: 40px;
      }
    }
    .jp_country{
      margin-left:15px;
    }
  }
}
