.news_cover{
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 5px;
  border-radius: 5px 5px 0px 0px;
  padding: 0px !important;
  border: solid thin #aaa;
  text-align: left;

  .news_title{
    padding: 5px;
    border-bottom: solid thin #999;
    .title_text{
      display:inline-block;
    }
    .glyphicon{
      vertical-align: text-top;
    }
  }
  .thread_cover{
    border-radius: 0px;
    margin-bottom: 0px;
    padding:0px!important;
    background: #fff!important;
    .thread_content{
      width:100%;
      margin-left:5px;
      padding-left:5px;
      margin-top: 0px;
      color: #07689f;
      .post_content_cover{
        width:100%!important;
      }
      p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-break: break-all;
      }
    }
    .thread_content:hover{
      color:#2e70a4;
      text-decoration: underline;
    }
  }
}
