.profile_notice{
  margin-left:5px;
  .lang_bar_cover{
    margin-top:-60px;
    margin-left:0px;
    width:70%;
    .lang_bar{
      padding-left: calc(20% - 10px);
    }
  }
  .notice_cover{
    margin-top:50px;
    width:70%;
  }
}
