.profile{
  margin-top: 10px;
  .blue-nav{
    border: solid thin #07689f!important;
    color:#07689f;
    .nav-link{
      color:#07689f;
    }
  }
  .blue-nav.active{
    background: #07689f!important;
    color:#fff!important;
    a{
      background-color: #07689f!important;
      color:#fff!important;
      border:none!important;
    }
  }

  .green-nav{
    background-color: #fff;
    color: #66bfbf;
    border: solid thin #66bfbf;
    .nav-link{
      background: #fff;
      color:#66bfbf;
      border:none!important;
    }
  }
  .green-nav.active{
    background: #66bfbf;
    color: #fff!important;
    .nav-link{
      background: #66bfbf;
      color:#fff;
    }
  }
  .profile_change_link{
    width: 500px;
    margin: 10px;
    border: solid 2px #ff9d3b;
    color: #FF9D3B;
    background: #fff;
    margin-left: calc(50% - 250px);
    .jp{
      font-size: 16px!important;
    }
  }
  #profile_change_modal{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .lang_bar_cover{
    z-index: 4;
    background: #f2fff8;
    width: calc(100vw - 200px);
    margin-top: 42px;
    margin-left: 0px;
    padding-top: 0px;
    position: fixed;
    border: solid thin #ddd;
    border-top: none;
    .lang_bar{
      padding-left:calc(14% - 10px);
      padding-top:8px;
      padding-bottom:8px;
      .slider{
        width:calc(60%);
        display: inline-block;
        .tooltip{
          display: none !important;
        }
        .slider-handle{
          top: 4px !important;
          width: 15px !important;
          height: 15px !important;
          background: #fff;
          z-index:50;
          .slider_icon{
            color: #fff;
            margin-left: -2px;
            margin-top: -12px;
            font-size: 15px;
          }
        }
        .slider-selection{
          //height: 20px !important;
          //top: -5px !important;
          background: rgb(0, 177, 196);
        }
        .slider-track-high{
          //top: -5px;
          //height:20px;
          background: rgb(137, 227, 255);
          -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2)
        }
      }
      .country_flag{
        display: inline-block;
        margin-right: 10px;
        .image{
          height:28px;
          width:40px;
        }
      }
      .jp_country{
        margin-left:18px;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: #bbbbbb;
  }
  .nav{
    a{
      padding: 8px 15px;
    }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #f2fff8;
  }
  .nav-tabs{
    z-index: 5;
    margin-top: 5px;
  }

  .no_lang_bar{
    padding-top:20px!important;
  }
  .tab-content{
    font-size:14px;
    .thread_cover#1{
    	border: solid 3px #bee;
    }
    .thread_cover{
      filter:none;
    }
    .history_postlist .thread_cover{
      border-radius: 5px;
      border: solid thin #ddd;
    }
  }
  .nav-item:hover{
    border-bottom-color: transparent;
    cursor: pointer;
    background: #e9e9e9;
  }
  .nav-link:hover{
    border-bottom-color: transparent;
    cursor: pointer;
    background: #e9e9e9;
  }
  .nav-top .nav-link{
    background: #fff;
  }
  .nav-link{
    font-size:14px;
    width: 100%;
    .jp{
      font-size:10px;
    }
  }
  .nav-link:hover{
    color:#07689f!important;
  }
  .active{
    .nav-link{
      color:#07689f!important;
    }
  }
  .nav-item{
    border: solid thin #66bfbf;
    color:#07689f;
    .fa-users{
      display: inline-block;
      margin-left: 5px;
      font-size: 25px;
    }
    .fas{
      vertical-align: text-bottom;
      font-size: 25px;
      margin-right: 5px;
    }
    .text_cover{
      display: inline-block;
    }
    .nav-link{
      padding:5px 10px 5px 5px;
      border:none;
      display: inline-block;
      .jp{
        font-size:10px;
      }
      .en{
        font-size:14px;
      }
    }
  }
  .nav-item:hover{
    background-color: #eeeeee;
  }
  .nav-item.active{
    background: #66bfbf;
    color:#fff;
    a:hover{
      color: #fff;
      background-color: #66bfbf;
      border: none;
    }
    a{
      background-color: #66bfbf!important;
      color:#fff!important;
      border:none!important;
    }
  }
  .tab-pane.active{
    display:block!important;
    opacity:10!important;
  }
  .tab-pane:not(.active){
    display:none!important;
    font-size:10px;
  }
  [disabled]{
    background: #fff;
    -webkit-appearance: none;
    padding-left: 10px!important;
  }
  .help_show{
    margin-left: 6px;
    margin-top:10px;
  }

  .profile_main{
    display:inline-block;
    margin-right: 20px;
    width: 600px;
    margin-bottom:10px;
    min-height:calc(100vh - 150px);
  }

  .profile_picture{
    width:120px;
    margin-bottom:5px;
    margin-top: -5px;
    .name_show{
      background: #07689f;
      color:#fff;
      padding: 2px 5px;
      margin-top:5px;
      font-size:15px;
    }
    .group_img{
      width: 120px; /* 任意の幅を指定 */
      height: 120px; /* 任意の高さを指定 */
      object-fit:cover;
    }
    .profile_picture_change{
      background-color: #dddddd;
      color: #555;
      border:none;
      width:100%;
      text-align:center;
      padding:2px;
      font-size: 18px;
      box-shadow: none;
      .jp{
        font-size:12px;
      }
      .en{
        font-size:16px;
        margin-top:-3px;
      }
    }
    .profile_picture_change:hover{
      background-color: #cccccc;
    }
    .edit_user{
      margin-top: -44px;
      opacity: 0.7;
      filter:alpha(opacity=0.7);
      -ms-filter:"alpha(opacity=0.7)";
    }
  }
  .profile_contents_change{
    width:120px;
    border-radius:5px;
    .nav{
      border-radius: 5px;
      border: solid 2px #dddddd;
      border-bottom: solid 1px #dddddd;
      .nav-link{
        padding: 5px 15px;
        color:#07689f
      }
    }

    .profile_contents_button{
      background: #fff;
      .jp{
        font-size:10px;
      }
      .en{
        font-size:14px;
        margin-top:-2px;
      }
    }
  }
  .profile_title{
    margin-left:15px;
    p{
        display: inline-block;
    }
    .title{
      margin-left:20px;
      margin-right:15px;
      font-size:22px;
      margin-bottom:10px;
      .jp{
        font-size:12px;
      }
    }
  }
  .profile_words, .profile_page{
    font-size:18px;
    margin-left:5px;
    background-color: #f2fff8;
    border-radius:5px;
    .table_left_image{
      float: left;
      margin-right: 5px;
      margin-left: 10px;
      img{
        width: 140px;
        border:solid thin #ccc;
        border-radius:5px;
      }
      .edit_user{
        margin-top:5px;
        button{
          width: 100%;
          border-color: #07689f;
          background: #07689f;
          color: #fff;
          padding: 3px 10px;
        }
        .jp{
          font-size:14px;
        }
        .en{
          font-size: 17px;
          margin-top: -3px;
        }
      }
    }
    .table_all_cover{
      width: calc(100% - 160px);
      background: #fff;
      margin-top:10px;
      font-size: 18px;
      margin-bottom: 20px;
      .table_list{
        .column_title{
          display:inline-block;
          width:150px;
          border-right:none;
          padding: 5px;
          height: 45px;
          .title_jp{
            font-size: 12px;
          }
          .title_en{
            font-size: 15px;
            margin-top:-3px;
          }
        }
        .column_content{
          display:inline-block;
          width:calc(100% - 150px);
          height: 45px;
          padding: 10px;
          border-left: solid thin #eee;
        }
        .threadtype_users_all{
          padding:0px;
          .users_all{
            width: 100%;
            padding: 10px;
            height: 100%;
          }
          .users_all:hover{
            background: #eee;
          }
        }
        .explain{
          background: #fff;
          text-align: left;
          cursor: pointer;
          padding:0px;
          padding-left: 5px;
          font-size: 14px;
          .width_max_text{
            border-radius: 5px;
            width:100%!important;
            display: block!important;
            p{
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box!important;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }
        }
        .explain:hover{
          background: #eee;
        }
      }
    }
    .profile_content{
      border-radius:5px;
      padding-left:15px;
      padding-right:15px;
      padding-top:5px;
      .intro{
        display: inline-block;
        width:calc(50% - 30px);
      }
      .checkbox_cover{
        min-width: 33%;
        display: inline-block;
      }
      .space_form{
        display: inline-block;
        vertical-align: top;
        margin-top:60px;
        .trans_cover{
          border-radius: 5px;
          border: solid 2px #ff9d3b;
          //padding:2px;
          .post_button{
            width:40px;
            height:33px;
            padding: 0px;
            display:block;
            white-space: normal;
            background:#fff;
            color:#ff9d3b;
            .picture_send{
              font-size: 16px;
              width:100%;
              text-align:center;
              margin-bottom:2px;
              display:block;
            }
            .button_text{
              display:block;
              word-wrap: break-word;
              margin-top:-4px;
              font-size:14px;
              font-weight:bold;
            }
          }
        }
      }
      .profile_content_data{
        padding:5px;
        .content_cover{
          width:70%;
        }
        .content_checkbox{
          margin-top:10px;
          margin-left:10px;
          margin-right:4px;
        }
        .content_select{
          width:100%;
          margin-top:5px;
          background-color:#ffffff;
          color:#666;
          border:solid 1px #dddddd;
          height:35px;
          margin-right:10px;
          padding-left: 5px;
        }
        .content_name{
          color:#777;
          display:inline-block;
          .jp{
            font-size:12px;
          }
          .en{
            margin-top:-2px;
          }
        }

        .profile_content_cover{
          display: inline-block;
        }
        .content_data{
          color:#777;
          display:inline-block;
        }
        .content_input{
          margin-top:5px;
          padding:2px;
          padding-left:10px;
          padding-right:10px;
          width:100%;
          margin-right:30px;
          font-size:18px;
        }
        .content_input.textarea{
          font-size:15px;
        }
        .no_text{
          display: inline-block;
        }
        .yes_text{
          display: inline-block;
          margin-left: 30px;
        }
        .switch{
          display: inline-block;
          padding-left: 25px;
          padding-top: 15px;
        }
        .textarea{
          //height:100px;
        }
      }
      .self_introduction{
        padding-top: 0px;
        margin-bottom:10px;
        margin-right:0px;
        margin-left: 0px;
        .profile_intro_data{
          border: solid thin #ccc;
          border-radius: 5px;
          padding: 5px;
          font-size: 15px;
          background: #fff;
        }
      }
    }
    .intro_content{
      padding-left:0px;
    }
  }
  .save_button{
    float:right;
    margin-left: 5px;
    margin-top:-10px;
    border:0px;
    font-size:15px;
    padding:10px;
    background-color: #ff9d3b;
    color: #fff;
  }
  .btn-secondary{
    margin-top: -10px;
    padding: 10px;
    border: solid thin #888;
  }
  .save_button_bottom{
    margin-left: calc(50% - 110px);
    margin-bottom: 10px;
    margin-top: px;
    border: 0px;
    font-size: 15px;
    padding: 10px;
    background-color: #ff9d3b;
    color: #fff;
  }
}

.profiled {
  font-size: 4vh;
  .profile_content_cover{
    width:70%;
    display:inline-block;
  }
  .content {
    height:7vh;
    width:100%;
    border: solid 1px #000000;
  }
  .show_type{
    float:left;
  }
  .show_data{
    float:left;
  }
  .edit {
    float: right;
  }
  .edit_change{
    padding-left:10px;
    float:right;
  }

}

.ui-dialog{
  width:500px !important;
  margin:auto !important;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 20px;
  background-color: #dddddd;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  left: 1px;
  bottom: 1px;
  content: "";
  margin-left: 50px;
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #e0e0e0;
  border-radius: 60px;
  transition: background 0.4s;
  height:30px;
  width:70px;
}
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
  height:30px;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #5078dc;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 90px;
}
.profile_modal{
  font-size:16px;
  .title{
    font-size:17px;
  }
  .btn_back{
    display: inline-block;
    margin-right:30px;
    font-size:16px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:15px;
    padding-right:15px;
    color:#777;
  }
  .btn_send{
    display: inline-block;
    font-size:16px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:16px;
    padding-right:16px;
    background: #fff0a0;
    border:solid thin #ddd;
    color: #fff;
  }
  .btn_delete{
    display: inline-block;
    font-size:16px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:16px;
    padding-right:16px;
    background: #fff0a0;
    border:solid thin #ddd;
    color: #f00;
  }
  .float_jp{
    font-size:12px;
  }
  .base_en{
    margin-top:-3px;
  }
  input[type="radio"] {
    margin-right: 5px;
    margin-top: 10px;
    font-size: 35px;
    margin-top: 1px \9;
    line-height: normal;
  }
  .thread_post{
    padding-left:10px;
    margin-top:30px;
    width:100%;

    label > input {
      display:none;	/* アップロードボタンのスタイルを無効にする */
    }
    .post_form_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 30px);
      text-align: center;
      ::placeholder{
        color:#bbb;
        text-align: center;
        font-size:16px;
      }
      .image{
        width: 60px;
        height: 30px;
        margin-bottom:3px;
      }
    }
    .post_form_cover_en{
      width:60%;
      margin-left:20%;
    }
    .post_form_cover_jp{
      width:60%;
      margin-left:20%;
    }
    .connect_btn{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .post_data_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 100px);
      text-align: center;
      .image{
        width:40px;
        height:28px;
        margin-bottom:3px;
        margin-left: calc(50% - 20px);
        display:block;
      }
      .data_show{
        font-size:16px;
        border-radius:5px;
        border:solid thin #ccc;
        height:160px;
        padding:10px;
        width:100%;
        word-wrap: break-word;
      }
    }
  }
  .image_change_type{
    margin-left: calc(33% - 133px);
  }
  .image_change_select{
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .image_change{
    display: inline-block;
    button{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-top:-50px;
      width:200px;
    }
    .image{
      width:200px;
      height:200px;
    }
  }
  .btn_back{
    margin-right: calc(50% - 33px);
  }
  .set_prepared_image{
    button{
      .image{
        height:100px;
        width:100px;
      }
    }
  }
  .text_box{
    .text_jp{
      font-size: 14px;
    }
    .text_en{
      font-size:18px;
    }
  }
  .follow_modal_footer{
    padding:10px;
    .follow_modal_button{
      padding: 3px 12px;
      width: 60px;
      .jp{
        font-size:10px;
      }
      .en{
        font-size:14px;
      }
    }
  }
}
