.profile{
  ::-webkit-input-placeholder {
    color: #bbbbbb;
  }
  .profile_sub{
      position:fixed;
  }
  .profile_main{
    display:inline-block;
    width:100%;
    margin-left:160px;
    margin-bottom:10px;
    min-height:400px;
  }
  .profile_picture{
    width:160px;
    margin-bottom:15px;
    .name_show{
      background: #3d67b4;
      color:#fff;
      padding:5px;
      margin-top:10px;
      font-size:20px;
    }
    .group_img{
      width: 160px; /* 任意の幅を指定 */
      height: 160px; /* 任意の高さを指定 */
      object-fit:cover;
    }
    .profile_picture_change{
      background-color: #dddddd;
      color: #555;
      border:none;
      width:100%;
      text-align:center;
      padding:2px;
      font-size: 18px;
      box-shadow: none;
      .jp{
        font-size:12px;
      }
      .en{
        font-size:18px;
        margin-top:-3px;
      }
    }
    .profile_picture_change:hover{
      background-color: #cccccc;
    }
    .edit_user{
      margin-top: -48px;
      opacity: 0.7;
    }
  }
  .profile_contents_change{
    width:160px;
    border-radius:5px;
    .nav{
      border-radius: 5px;
      border: solid 2px #dddddd;
      border-bottom: solid 1px #dddddd;
    }
    .profile_contents_button{
      background: #fff;
      border-bottom:solid 2px #dddddd;
      .jp{
        font-size:10px;
      }
      .en{
        font-size:16px;
      }
    }
  }
  .profile_title{
    margin-left:15px;
    .title{
      margin-left:20px;
      margin-right:15px;
      font-size:22px;
      margin-bottom:10px;
      .jp{
        font-size:12px;
      }
    }
  }
  .profile_words, .profile_page{
    font-size:18px;
    margin-left:15px;
    background-color: #dcf2fe;
    border-radius:5px;
    .profile_content{
      border-radius:5px;
      padding-left:15px;
      padding-right:15px;
      padding-top:5px;
      .profile_content_data{
        padding:5px;
        .content_cover{
          width:70%;
        }
        .content_checkbox{
          margin-top:10px;
          margin-left:10px;
          margin-right:4px;
        }
        .content_select{
          width:100%;
          margin-top:5px;
          background-color:#ffffff;
          color:#666;
          border:solid 1px #dddddd;
          height:35px;
          margin-right:10px;
          padding-left: 5px;
        }
        .content_name{
          padding-top:5px;
          color:#3d67b4;
          .jp{
            font-size:12px;
          }
          .en{
            margin-top:-2px;
          }
        }
        .content_input{
          margin-top:10px;
          padding:2px;
          padding-left:10px;
          padding-right:10px;
          width:100%;
          margin-right:30px;
          font-size:18px;
        }
        .no_text{
          display: inline-block;
        }
        .yes_text{
          display: inline-block;
          margin-left: 30px;
        }
        .switch{
          display: inline-block;
          padding-left: 25px;
          padding-top: 15px;
        }
        .textarea{
          //height:100px;
        }
      }
      .self_introduction{
        margin-top:10px;
        margin-bottom:10px;
        margin-right:10px;
        margin-left: -30px;
      }
    }
  }
  .profile_save_button{
    margin-left: 5px;
    margin-top:-10px;
    border:0px;
    font-size:15px;
    padding:10px;
    background-color: #ffb432;
    color: #fff;
  }
}

.profiled {
  font-size: 4vh;
  .profile_content_cover{
    width:70%;
  }
  .content {
    height:7vh;
    width:100%;
    border: solid 1px #000000;
  }
  .show_type{
    float:left;
  }
  .show_data{
    float:left;
  }
  .edit {
    float: right;
  }
  .edit_change{
    padding-left:10px;
    float:right;
  }

}

.ui-dialog{
  width:500px !important;
  margin:auto !important;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 20px;
  background-color: #dddddd;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 68px;
  left: 1px;
  bottom: 1px;
  content: "";
  margin-left: 50px;
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #e0e0e0;
  border-radius: 60px;
  transition: background 0.4s;
  height:30px;
  width:70px;
}
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
  height:30px;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #5078dc;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 90px;
}
.profile_modal{
  .btn_back{
    display: inline-block;
    margin-right:30px;
    font-size:16px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:15px;
    padding-right:15px;
    color:#777;
  }
  .btn_send{
    display: inline-block;
    font-size:16px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:16px;
    padding-right:16px;
    background: #fff0a0;
    border:solid thin #ddd;
    color: #cd853f;
  }
  .btn_delete{
    display: inline-block;
    font-size:16px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:16px;
    padding-right:16px;
    background: #fff0a0;
    border:solid thin #ddd;
    color: #f00;
  }
  .float_jp{
    font-size:12px;
  }
  .base_en{
    margin-top:-3px;
  }
  .thread_post{
    padding-left:10px;
    margin-top:30px;
    width:100%;
    label > input {
      display:none;	/* アップロードボタンのスタイルを無効にする */
    }
    .post_form_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 10px);
      text-align: center;
      ::placeholder{
        color:#bbb;
        text-align: center;
        font-size:16px;
      }
      .image{
        width:40px;
        height:28px;
        margin-bottom:3px;
      }
    }
    .post_form_cover_en{
      width:60%;
      margin-left:20%;
    }
    .post_form_cover_jp{
      width:60%;
      margin-left:20%;
    }
    .connect_btn{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .space_form{
      display: inline-block;
      //padding-left: 50px;
    }
    .post_data_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 100px);
      text-align: center;
      .image{
        width:40px;
        height:28px;
        margin-bottom:3px;
        margin-left: calc(50% - 20px);
        display:block;
      }
      .data_show{
        font-size:16px;
        border-radius:5px;
        border:solid thin #ccc;
        height:160px;
        padding:10px;
        width:100%;
        word-wrap: break-word;
      }
    }
  }
  .image_change_type{
    margin-left: calc(33% - 133px);
  }
  .image_change_select{
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .image_change{
    display: inline-block;
    button{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-top:-50px;
      width:200px;
    }
    .image{
      width:200px;
      height:200px;
    }
  }
  .btn_back{
    margin-right: calc(50% - 33px);
  }
  .set_prepared_image{
    button{
      .image{
        height:100px;
        width:100px;
      }
    }
  }
}
