.pvpage_all{
  p{
    display: block;
  }
  .category_cover{
    border-radius: 10px;
    border: solid 2px #f19c38;
    padding: 5px;
    .title{
      color: #f19c38;
      font-size: 15px;
      padding: 5px;
      font-weight: bold;
    }

    .caret{
      float: right;
      margin-top: -15px;
      border-top: 8px dashed;
      border-top: 4px solid \9;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
  .panel-title{
    width:100%;
    display: inline-block;
    font-size:14px;
    .float_jp{
      font-size:13px;
    }
    .panel-title-text{
      font-size: 15px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      margin-top: 10px;
      background: #66bfbf;
      color: #fff;
      border-radius: 5px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border: solid 2px;
      border-bottom: none;
      border-color: #66bfbf;
      font-weight: bold;
    }
    /*.panel-title-text:hover{
      background: #fff;
      color: #66bfbf;
    }*/
    .thread_post_button{
      display:inline-block;
      vertical-align: bottom;
      float:right;
      font-size:18px;
      color:#fff;
      background:#f2fff8;
      .jp{
        font-size:12px;
      }
    }
  }
  .thread_all{
    margin-top: 5px;
    padding-left:0px;
    .thread_title{
      color:#000000;
      .float_jp{
        font-size:12px;
      }
    }

    .thread_cover#1{
    	border: solid 3px #bee;
    }

  }
  .not_found{
    font-size:20px;
    margin-left:20px;
    .jp{
      margin-top:20px;
      margin-left:-5px;
    }
  }
  .more_thread_dot{
    text-align: center;
    .dot{
      margin-top:-12px;
    }
  }
  .see_more_thread{
    float: right;
    //margin-top: -25px;
    font-size: 15px;
  }
}
.page_button_cover{
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left:20px;
  a{
    text-decoration: none;
  }
  .page_move:hover{
    border-bottom:solid thin #337ab7;
  }
  .page_move{
    padding-bottom:3px;
  }
  .page_button{
    font-size:20px;
    text-align: center;
    margin-left:4px;
    padding-left:5px;
    margin-right:5px;
  }
  .now_page{
    color:#000;
    border-bottom:solid 1px #000;
    display:inline-block;
    padding-right:5px;
  }
  .no_push{
    color:#ccc;
    display:inline-block;
    margin:0px;
    padding:0px;
  }
  .ok_push{
    color:#666;
    display:inline-block;
    margin:0px;
    padding:0px;
  }
  .dot_show{
    color:#666;
    display:inline-block;
    margin:0px;
    padding:0px;
  }
}
.see_more{
  float:right;
  margin-top:-20px;
  color:#07689f;
}
.see_more.no_text{
  margin-top:2px;
}
.see_more:hover{
  //border-bottom:solid 1px #135288;
  color:#135288;
}
