.search_form_top{
  font-weight: bold;
  padding:0px;
  display:table;
  .form_input{
    font-size: 15px;
    height: 34px;
    border-radius: 4px!important;
    font-weight: lighter;
  }
  .form_button{
    margin-left:10px;
    border-radius: 4px 0px 0px 4px;
    border:solid thin #dddddd;
    background:#66bfbf;
    color: #fff;
    padding-left:15px;
    padding-right:15px;
  }
}
