

.thread_page{
  margin-bottom:40px;
  margin-top: 40px;
  .panel-title{
    display: inline-block;
    width:100%;
    margin-bottom:10px;
    padding-left:20px;
    font-size:18px;
    .float_jp{
      font-size:12px;
    }
    .hash_tag{
      margin-top:10px;
      display: inline-block;
      .hash_icon{
        display: inline-block;
        font-size:18px;
      }
      .hash_text{
        display: inline-block;
        margin-left:-2px;
        margin-right:3px;
        .hash_en{
          margin-top:-5px;
        }
        .hash_jp{
          font-size:10px;
        }
      }
    }
    .panel-title-text{
      vertical-align: bottom;
      margin-top:10px;
      .float_en{
        margin-top:-4px;
      }
    }
    .thread_post_button{
      display:inline-block;
      vertical-align: bottom;
      float:right;
      font-size:18px;
      color:#fff;
      background:#2e52bd;
      .jp{
        font-size:12px;
      }
    }
  }
  .pvpage_head{
    border-top:3px solid #ff9d3b;
    .pvpage_lang{
      display:inline-block;
      vertical-align: bottom;
      width:100%;
      padding-top:10px;
      .en_position{
        margin-left:calc(20% + 70px);
      }
      .jp_position{
        margin-left:calc(55% - 195px);
      }
      .lang_show{
        display:inline-block;
        font-size:20px;
        text-align:center;
        .float_jp{
          font-size:12px;
        }
        .base_en{
          margin-top:-2px;
        }
      }
    }
  }

  .col-sm-6{
    padding-left:5px;
    float:left;
    width:50%;
  }
  .thread_all{
    margin-top: 5px;
    .thread_title{
      color:#000000;
      .float_jp{
        font-size:12px;
      }
    }
    .thread_cover:first-child{
      border-radius:5px;
      margin-bottom:20px;
    }
    .thread_cover:last-child{
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px;
      margin-bottom:20px;
    }
    .thread_cover:nth-child(2){
      border-top-right-radius:5px;
      border-top-left-radius:5px;
    }
    .deleted_coment{
      font-size: 14px;
      padding: 10px!important;
      padding-left: 20px!important;
      .en{
        font-size:16px;
      }
    }
    .thread_cover{
      background-color: #ffffff;
      padding:10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-radius: 0px;
      border:solid thin #dddddd;
      .group_user_cover{
        display: inline-block;
        vertical-align: top;
        height:100%;
        margin-right: 10px;
        margin-top:10px;
        .group_img_cover{
          text-align: center;
          .group_img {
            border:none;
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius:50%;
          }
        }
        .group_name{
          padding-top:1px;
          font-size:15px;
          text-align: center;
          color:#000000;
        }
      }
      .thread_content{
        display: inline-block;
        vertical-align: top;
        color:#000000;
        width:calc(100% - 65px);
        .thread_title{
          padding-left:10px;
          padding-right:10px;
          font-size:18px;
          background:#dff5eaff ;
          .title_padding{
            text-align: center;
            font-size:18px;

            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .post_content_cover{
          display: inline-block;
          font-size:16px;
          width:100%;
          .user_name{
            color:#365899;
            font-weight: bold;
            display: inline-block;
          }

          .dropdown{
            display: inline-block;
            float:right;
            .caret {
              border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #000000;
            }
            .dropdown-menu{
              margin-left:-130px;
              font-size:14px;
              z-index:10;
              margin-top: -3px;
              .one_topic{
                text-align: center;
                color:#666;
                padding:5px;
                a{
                  text-decoration: none;
                  color:#666
                }
                .jp{
                  font-size:12px;
                }
              }
              .one_topic:hover{
                background: #dff5eaff ;
                //color: #000;
                //a{color:#bf8454}
              }
              .one_topic:nth-of-type(n+2){
                border-top: solid thin #bbb;
              }
            }
          }
          .post_content_position{
            display:inline-block;
            vertical-align:top;
            width:calc(50% - 15px);
            .title_space{
              //margin-top:20px;
            }
          }
          .post_content_position_space{
            width:15px;
            font-size:15px;
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
            .img{
              width:20px;
              height:20px;
            }
          }
          .post_image_cover{
            padding:auto;
            .post_image{
              margin-top:10px;
              //margin-left:calc(50% - 75px);
              margin-left:40px;
              max-width:180px;
              max-height:200px;
            }
          }
          .post_content{
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-top:2px;
            .post_content_text{
              margin:auto;
            }
            .post_image{
              width:100%;
            }
          }
        }
        .lang_type{
          float:right;
          margin-top:4px;
          .lang-show{
            border-radius: 5px;
            font-size:15px;
            padding:4px;
            padding-left:7px;
            padding-right:7px;
            background-color: #fff0b0;
          }
        }
      }
    }
    .thread_not_first{
      padding:8px !important;
      padding-left:20px !important;
      padding-right:20px !important;
      padding-bottom:20px !important;
      margin-bottom:0px !important;
      border-radius: 0px;
      .thread_content{
        vertical-align: middle;
      }
      .post_content_position{
        vertical-align: middle;
      }
      .post_content_position_space{
        width:15px;
        font-size:15px;
        vertical-align: -webkit-baseline-middle;
      }
    }
  }
  .footer{
    width:100%;
    bottom:5px;
    .post_button{
      color:#fff;
      padding-left:20px;
      padding-right:20px;
      vertical-align:top;
      .image{
        width:28px;
        height:20px;
        margin-top:-15px;
      }
      .picture_send{
        display: inline-block;
        margin-right:0px;
        width:28px;
        margin-left:5px!important;
      }
      .button_text{
        display: inline-block;
        .float_jp{
          font-size:11px;
        }
      }
    }
    .post_form{
      display:inline-block;
      vertical-align: top;
      margin-top:5px;
      //display: none;
      .image_send_button{
        background: #fff;
        border: solid thin #BF8454;
        color:#BF8454;
        width:60px;
        height:60px;
        margin-top:-5px;
        padding-top:10px;
        font-size:20px;
        .picture_send{
          margin-top:8px;
        }
      }
      .post_button{
        vertical-align:top;
        height:60px;
        min-width:calc(10%);
        font-size:25px;
        .picture_send{
          margin:10px;
        }
      }
    }
    .post_footer_simple{
      margin-left: calc(50% - 105px);
      .post_button_cover{
        display: inline-block;
        .post_button{
          padding-left: 0px;
          margin-left: 10px;
        }
      }
      .post_button_form{
        display: inline-block;
        .post_button{
          padding-left:0px;
        }
        .picture_send{
          font-size:17px;
        }
      }
    }
    .post_footer{
      display: inline-block;
      padding-top:5px;
      padding-bottom:5px;
      width: calc(100% - 65px);
      padding-left:10px;
      background: #ffffff;
      border:solid thin #BF8454;
      //padding:10px;
      border-radius:5px;
      max-height:60px;
      .picture_send{
        color: #cd853f;
        font-size:20px;
        margin-left: 10px;
      }
      .post_text{
        color: #cd853f;
        display:inline-block;
        font-size:18px;
        padding:10px;
        .float_jp{
          font-size:12px;
        }
      }
      .image_btn{
        height:40px;
        .picture_send{
          bottom:10px;
        }
      }
      .post_button_cover{
        padding-right: calc(25% - 110px);
        display: inline-block;
        text-align: center;
        .post_button{
          vertical-align: middle;
        }
      }
    }
  }
  .delete_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    .btn{
      background: #07689f;
      color:#fff;
    }
  }
}
.thread_post_cover{
  .window2{
    margin-top:150px;
  }
  .delete_html{
    width:90%;
    margin-left:5%;
  }
  .explain_text{
    text-align: center;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    .en{
    }
    .jp{
    }
  }
  .thread_post{
    padding-left:10px;
    margin-top:30px;
    width:100%;
    label > input {
      display:none;	/* アップロードボタンのスタイルを無効にする */
    }
    .post_form_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 30px);
      text-align: center;
      ::placeholder{
        color:#bbb;
        text-align: center;
        font-size:16px;
      }
      .image{
        width:40px;
        height:28px;
        margin-bottom:3px;
      }
    }
    .post_form_cover_en{
      width:60%;
      margin-left:20%;
    }
    .post_form_cover_jp{
      width:60%;
      margin-left:20%;
    }
    .connect_btn{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .space_form{
      display: inline-block;
      width: 46px;
      height: 86px;
      margin-bottom: 23px;
      padding: 2px;
      border-radius: 5px;
      border: solid thin #ff9d3b;
      .post_button{
        width:40px;
        height:80px;
        margin-bottom:23px;
        padding: 0px 2px 5px 2px;
        display:block;
        white-space: normal;
        .picture_send{
          margin:0px!important;
          font-size: 20px;
          width:100%;
          text-align:center;
          display:block;
        }
        .button_text{
          display:block;
          word-wrap: break-word;
        }
      }
    }
    .post_data_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 100px);
      text-align: center;
      .image{
        width:40px;
        height:28px;
        margin-bottom:3px;
        margin-left: calc(50% - 20px);
        display:block;
      }
      .data_show{
        font-size:16px;
        border-radius:5px;
        border:solid thin #ccc;
        height:160px;
        padding:10px;
        width:100%;
        word-wrap: break-word;
      }
    }
  }
  .translate_cover{
    display: inline-block;
    margin-bottom: 10px;
    padding:10px;
    .explain_text{
      text-align: center;
      font-size:15px;
      width:170px;
      word-wrap: break-word;
    }
    .image{
      margin-top:10px;
      height:30px;
      width:170px;
      margin-bottom:20px;
    }
  }
  .img_send{
    margin-left:calc(50% - 10px);
    background: #fff0a0;
    color:#cd853f;
    border:solid thin #ccc;
  }
  .button_panel_cover{
    display: inline-block;
    vertical-align: top;
    width:calc(33% - 10px);
    margin-left:5px;
    .button_panel{
      background: #fff0a042;
      width:100%;
    }
  }
  .button_text{
    text-align: center;
  }
  .modal-footer{
    .btn_back{
      display: inline-block;
      margin-right:30px;
      font-size:16px;
      padding-top:2px;
      padding-bottom:2px;
      padding-left:15px;
      padding-right:15px;
      color:#777;
    }
    .btn_send{
      display: inline-block;
      font-size:16px;
      padding-top:3px;
      padding-bottom:3px;
      padding-left:16px;
      padding-right:16px;
      background: #07689f;
      border:solid thin #ddd;
      color: #fff;
    }
    .btn_delete{
      display: inline-block;
      font-size:16px;
      padding-top:3px;
      padding-bottom:3px;
      padding-left:16px;
      padding-right:16px;
      background: #fff0a0;
      border:solid thin #ddd;
      color: #f00;
    }
    .float_jp{
      font-size:12px;
    }
    .base_en{
      margin-top:-3px;
    }
  }

  .post_button_place.post_button{
    background: #fff6c6bd;
    border: solid 1px #cd853f4d;
    color:#cd853f;
    word-wrap: break-word;
    padding-left: 2px;
    margin-left: calc(50% - 35px);
    .picture_send{
      display: inline-block;
      margin-right:10px;
    }
    .image{
      width:28px;
      height:20px;
      margin-top:-15px;
    }
    .picture_send{
      display: inline-block;
      margin-right:0px;
      width:20px;
      margin-left:5px!important;
    }
    .button_text{
      display: inline-block;
      .float_jp{
        font-size:11px;
      }
    }
  }
  .especial{
    margin-left:calc(50% - 50px);
  }
}
@media screen and (max-width: 720px){

}
@media screen and (max-width: 480px){
  .thread_footer{
    min-width: 100%!important;
  }
}
