.sign_page_cover{
  //position:absolute;
  vertical-align: center;
  padding-left: calc(48vw - 300px);
  .login_page{
    vertical-align: center;
    .panel {
      padding-left: 20px;
      padding-right: 20px;
    }
    .oauth_cover{
      img{
        max-width:300px;
        width:100%;
        border-radius: 5px;
        margin-top:45px;
      }
    }
    .first_coment{
      font-size: 25px;
      text-align: center;
      margin-top:20px;
      margin-bottom:20px;
    }
    .alert-message{
      margin-top:5px;
      margin-left: 50px;
      margin-right: 50px;
    }
    .title{
      font-size: 23px;
      margin-top:5px;
      .float_jp{
        text-align: center;
        font-size:12px;
      }
      .base_en{
        text-align: center;
      }
    }
    .term_link{
      float:right;
    }
    .box_srcollbar {
        margin-right: 50px;
        overflow:auto;
        width: 100%;
        height:120px;
        padding:5px;
        border:1px solid #000;
        background-color:#F9F9F9;
        color:#000;
        font-size:12px;
    }
    .input-groups{

      margin-top:16px;
      .checkbox_input{
        display: inline-block;
      }
      .term_check{
        display: inline-block;
        margin-left: 5px;
      }
      .input_title{
        font-size: 18px;
        .float_jp{
          font-size: 10px;
        }
        .base_en{
          margin-top:-2px;
        }
      }
      .input_form{
        margin-top:5px;
      }
    }
    .check_words_cover{
      margin-left:50px;
    }
    .check_title{
      font-size:16px;
    }
    .submit_button_cover{
      margin-top:40px;
      text-align: center;
      .submit_button{
        padding-left:20px;
        padding-right:20px;
        font-size:17px;
        background:#ff9d3b;
        color:#fff;
        .float_jp{
          font-size:10px;
        }
        .base_en{
          margin-top:-3px;
        }
      }
    }
  }
}
