<% search_text = "" %>
<% if session["search_text"].nil? == false && session["search_text"] != "" %>
  <% search_text = session["search_text"] %>
<% end %>

<div class="profile_notice">
  <ul class="nav nav-tabs" id="myTab" role="tablist"style="margin-top:-15px;">
    <% if params[:id] == "9" %>
      <li class="nav-item active width_max">
        <a class="nav-link profile_history_change8" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="true">
          <i class="fas fa-user"></i>
          <div class="text_cover">
            Following / フォロー
          </div>
        </a>
      </li>
    <% elsif params[:id] == "10" %>
      <li class="nav-item active width_max">
        <a class="nav-link profile_history_change9" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">
          <i class="fas fa-user"></i>
          <div class="text_cover">
            Follower / フォロワー
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="notice_cover">
    <div class="follow_all">
      <% if params[:id] == "9" %>
        <%= render partial:"usershow", locals: {users:@followings } %>
        <%= paginate @followings , outer_window: 3%>
      <% elsif params[:id] == "10" %>
        <%= render partial:"usershow", locals: {users:@followers } %>
        <%= paginate @followers , outer_window: 3%>
      <% end %>
    </div>
  </div>
</div>

<div class="profile_modal">
  <div class="modal fade" id="follow_modal" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="text_box">
            <div class="text_jp">
              フォローを解除してもよろしいですか？
            </div>
            <div class="text_en">
              Is it ok to unfollow him or her?
            </div>
          </div>
  			</div>
        <div class="modal-footer follow_modal_footer">
          <button type="button" class="btn btn-primary unfollow_modal_submit follow_modal_button">
            <div class="jp">
              実行
            </div>
            <div class="en">
              OK
            </div>
          </button>
          <button type="button" class="btn btn-default follow_modal_button"data-dismiss="modal">
            <div class="jp">
              戻る
            </div>
            <div class="en">
              Back
            </div>
          </button>
        </div>
  		</div>
  	</div>
  </div>
</div>
