
<form>
  <div class="profile_title">
    <ul class="nav nav-tabs nav-top" id="myTab" role="tablist">
      <li class="nav-item active"style="width:100%;">
        <a class="nav-link profile_history_change3" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">
          <i class="fas fa-users"></i>
          <div class="text_cover"style="font-size:18px;font-weight:bold;">
            作成したスレッド / Made Thread
          </div>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane active" id="group" role="tabpanel" aria-labelledby="group-tab">
        <% show_group_id = -1 %>
        <% there_be = false %>
        <% for threadtype in Threadtype.where(leader_id:current_user.id) do %>
          <% there_be = true %>
          <%= render partial:"/threadtype/threadtype_edit", locals: { threadtype:threadtype } %>
        <% end %>
      </div>
    </div>
  </div>
</form>
