
<script>
$(function(){
  var cHeight = $(".top-page").height();
  var bHeight = window.parent.screen.height;
  if((cHeight - bHeight) < 0){
    $(".page_footer").attr("style","position:absolute;bottom:0px;width:100%;")
  }
});
</script>
<footer class="page_footer">
  <div class="link_button">
    <%= link_to "/" do %>
      <div class="jp">
        トップページ
      </div>
      <div class="en">
        Top Page
      </div>
    <% end %>
  </div>
  <div class="footer_bar">
    |
  </div>
  <div class="link_button">
    <%= link_to "/users/term" do %>
      <div class="jp">
        フレフレ利用規約
      </div>
      <div class="en">
        FreFre's Term of service
      </div>
    <% end %>
  </div>
  <div class="footer_bar">
    |
  </div>
  <div class="link_button">
    <%= link_to "/users/term" do %>
      <div class="jp">
        プライバシーポリシー
      </div>
      <div class="en">
        Prvacy Policy
      </div>
    <% end %>
  </div>
</footer>
