<div class="lang_change lang_bar_cover" id="lang_bar_cover"data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
  <div class="lang_bar wide_screen">
    <button class="country_button en_button">
      English Show
    </button>
    <button class="country_button enjp_button">
      English + 日本語
    </button>
    <button class="country_button jp_button">
      日本語表示
    </button>
  </div>
  <div class="lang_bar narrow_screen">
    <button class="country_button en_button">
      English
    </button>
    <button class="country_button enjp_button">
      Eng + 日本
    </button>
    <button class="country_button jp_button">
      日本語
    </button>
  </div>
</div>
<div class="lang_change float_button">
  <button class="country_button jp_button">
    <div class="jp_button_in">
      Eng
    </div>
  </button>
  <button class="country_button en_button">
    <div class="en_button_in">
      日本語
    </div>
  </button>
</div>