<div class="lang_bar_cover" id="lang_bar_cover"data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
  <span class="glyphicon glyphicon-chevron-up up_slider" aria-hidden="true"></span>
  <div class="lang_bar">
    <div class="country_flag en_country">
      Hide English
    </div>
    <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
        data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
    <div class="country_flag jp_country">
      日本語非表示
    </div>
  </div>
</div>